[2019-06-17 14:22] wyld-sw commented on #438
Fixed in e80c9a5.

[2019-06-17 14:22] #438 closed

[2019-06-19 03:16] tanabi commented on #329
I haven't commented in awhile because I got sidetracked working on other MUCK related items (MUF for Hope + work on #306 ) ... I have accomplished something though!  I just finished documenting all the defines, externs, and structures in interp.h ... this was a surprisingly massive amount of work requiring a lot of research to figure out what each thing did, but I think I have a pretty accurate de

[2019-06-22 03:41] foxbird opened #442 "Removed recursive comments code breaks existing mucks"
I commented on the commit that breaks things:

https://github.com/fuzzball-muck/fuzzball/commit/7fed0e712ecf4089c10fe4830f216536eb6fa7e0#commitcomment-34038815

It seems that this comment breaks existing MUCKs quite badly. I would recommend reverting this change as you're unlikely to get people to fix all of the MUF programs on a muck (established ones having hundreds if not a thousand). HLM had t

[2019-06-23 02:45] wyld-sw commented on #442
Reverted. Thanks for the report.

[2019-06-23 02:45] #442 closed

[2019-06-23 02:45] wyld-sw commented on #306
Closing this since it seems to be fixed.

[2019-06-23 02:45] #306 closed

[2019-06-29 03:09] tanabi opened #443 "array_put_proplist operates in a non-standard way"
array_put_proplist stores the list count number as type integer instead of type string:

[code]
results in:
[code]

If you create a list with 'lsedit', it will store the list count number as a string instead.  This is, traditionally, how lists have worked and there's a lot of MUF code that does like:

[code]

to get list counts.  Running 'atoi' on an integer will return 0.  The integer count works

[2019-06-29 03:10] tanabi commented on #329
I've been paused on this because I've had some MUF work to do on my home MUCK.  I'll be back to this soon.  But I'm still alive.

[2019-07-01 16:56] wyld-sw commented on #443
array_put_proplist now stores a string count if the array is made up of only strings.

[2019-07-01 16:56] #443 closed

[2019-07-04 15:53] foxbird commented on #376
FWIW, a lot of this depends on what your goal is running FuzzBall on windows. If you're doing it to develop or play around, then WSL is fine for working with as it supports this need. However, WSL specifically says it's not for running services, for doing anything long term, production, or otherwise a reliable fixture. It's primary and really only goal is to enable the use of various unix tools fo

[2019-07-16 04:29] tanabi opened #444 "deep_copyinst memory leak"
Check out this code here:

https://github.com/fuzzball-muck/fuzzball/blob/7cf2169fb4a213d19766a7521a8e6f3c1d0cded7/src/interp.c#L897

If I'm reading this right, if you're deep copying a packed array... it will allocated a packed array in the case ARRAY_PACKED, which will then fall through to the ARRAY_DICTIONARY block where 'nu' will immediately be overwritten with a dictionary, thus leaking the a

[2019-07-16 12:05] wyld-sw commented on #444
Confirmed, FORK and DEEP_COPY both converted arrays to dictionaries. Didn't try EVENT_SEND, but I assume it was similar. I added the break and it works as expected now - including for nested arrays.

Good find! Feel free to re-open this if there's still (or I introduced) a bug.

[2019-07-16 12:05] #444 closed

[2019-07-16 13:51] tanabi commented on #444
Thanks for doing the test legwork on this!

[2019-07-26 02:55] tanabi commented on #329
I'm still alive!  Finally finished interp.c.  log.c is next!

[2019-07-30 03:32] tanabi opened #447 "Minor Issue: USERLOG incorrect documentation"
Super nitpick.  'man userlog' has the following text:

[code]

The "formatted like" string is incorrect -- the date in the code (log.c) is actually in the format YYYY-MM-DDTHH:MM:SS so the sample should look like:

[code]

A minor point, but hey, we like perfection!

[2019-07-30 04:08] tanabi commented on #329
log.c is done, on to look.c

[2019-07-30 12:07] wyld-sw commented on #447
Done! 2596dd9

[2019-07-30 12:07] #447 closed

[2019-07-31 01:52] tanabi commented on #329
I already did look.c and forgot about it, so match.c is up next

[2019-08-04 04:07] tanabi commented on #329
match.c is done.  mcp.c is partially done, but has some more to do, so I will finish that file next.

[2019-08-14 18:50] tanabi opened #451 "Date Weirdness"
In the latest fuzzball, this:

[code]

produces the date in 2020 for some reason.  This:

[code]

seems like it works.  I thought we had fixed this date stuff before ?  Did we introduce some problem recently?

[2019-08-14 18:58] wyld-sw commented on #451
We added century support to years in {convtime} and the new CONVTIME, but that must have escaped my testing :(. I'll look into it, if you don't beat me to it!

[2019-08-14 20:39] wyld-sw commented on #451
I stand corrected; it's still a 2-digit year - and it seems to be reading the first 2 digits (20) as the year in your first example. There may be a way to prevent that - or actually recognize 4-digit years. We may need to code our own strptime for that?

[2019-08-15 15:03] wyld-sw commented on #451
Works well, thanks!

[2019-08-15 15:03] #451 closed

[2019-08-21 20:25] tanabi commented on #329
I'm still alive... mcp.c is about 85% done, just a lot of little functions in there.

[2019-09-10 02:33] tanabi commented on #329
mcpgui is done, mcppkg is next!

[2019-09-15 04:06] tanabi commented on #329
mcppkgs is done, moving on to mfuns!  Sounds m-fun to me!

[2019-09-15 09:05] dbenoy opened #456 "RECYCLE primitive returns pennies"
Perhaps the penny-return logic should be in the @recycle command instead of in the recycle function itself, because that also affects the MUF primitive, creating an unexpected donation of pennies if you use a program that recycles objects.

[2019-09-15 09:16] dbenoy opened #457 "ADDPENNIES primitive and GIVE command differ in behavior"
The ADDPENNIES primative will ensure that thing objects have positive values, but the GIVE command doesn't care.

Perhaps these behaviors should be harmonized. I think they should both prevent negative values, but a value of zero should be fine?

[2019-09-15 13:02] whislock opened #458 "Set maximum TLS version"
Debian and Ubuntu ship tinyfugue packages that are compiled against GnuTLS by way of an OpenSSL-to-GnuTLS shim library. That shim library does not appear to support TLSv1.3.

New deployments or updates of fuzzball compiled on any recent Linux distribution (Debian buster, Ubuntu 18.04 LTS, etc.) do include TLSv1.3 support, courtesy of OpenSSL.

Connecting to a TLSv1.3-enabled fuzzball server from a

[2019-09-15 13:29] whislock commented on #458
Thinking about this a little more, it might be better as a compile-time option.

[2019-09-15 18:08] dbenoy commented on #457
A value of zero on an object is useful if you want some sort of process to be able to create objects in an unprivileged way, but you don't want users to be able to collect pennies when they recycle the object.

[2019-09-15 18:23] tanabi commented on #457
If I'm remembering right, recycle won't 'respect' negative pennies and will 'round' it up to 0 if an object has negative.  Though the MUF recycle command may operate differently as I am sure they use totally different sets of code.

Though I totally agree, these things should not only work the same, but they should share the same underlying code.

[2019-09-15 18:28] tanabi commented on #458
Agreed, this should be a compile time option.  I'm pretty sure you can't switch TLS versions on the fly without some fancy dlopening (though I could be wrong).

I'd recommend doing like ```'--force-tls-12'``` or something as a configure option.

[2019-09-15 18:31] tanabi commented on #456
I haven't seen the code for MUF's recycle prim yet but I'd bet pennies that it uses a separate codebase from @ recycle :)

I'm not sure I agree with this, because this is altering very long-standing behavior (I think ... we should double check on an FB5 / FB6 series MUCK to be sure).  It is, arguably, "expected behavior" and doing this change could theoretically break existing custom @ recycle pro

[2019-09-15 18:48] dbenoy commented on #456
Yes that is a good point about perhaps tackling it with a prgama or a separate prim.

I actually looked myself. do_recycle in create.c and the primitive both call the recycle function in move.c and that function handles the business of returning the pennies.

It should probably be moved out of there and into a different function, like refund_object or something, and then called from do_recycle, an

[2019-09-15 18:56] dbenoy opened #459 "Penny generation with NEWOBJECT primitive"
NEWOBJECT creates objects with a value of 1, rather than 0.

You can just create an object, and then recycle it to collect a penny.

This already can be exploited on numerous MUCKs, including my own, which have ways of ordinary users or low-level MUCKER bit users to create objects that they own from MUF code.

They could repeatedly create and recycle the object and endow themselves with as many pe

[2019-09-15 19:01] dbenoy commented on #457
Just gave it a try.

[code]

[2019-09-15 19:03] tanabi commented on #459
Yeah, newobject (and probably newroom, etc.) doesn't deduct pennies to create but will set a value.  Most quota libraries that I've seen will deduct pennies and then set the penny value on the object according to the exorbitently complex way 'help @ create' describes (though I think @wyld-sw and I simplified that logic a good bit recently).  It would probably be a good idea to have these all calls

[2019-09-15 19:06] tanabi commented on #457
Well that's just nasty.  Yeah, we need to fix that :)  This is a pretty easy one.  Would you like to take a whack at it or you want @wyld-sw or myself to do it?

[2019-09-15 19:07] dbenoy commented on #459
Sadly there's no workaround for this either. Trying to eliminate the object's value with ADDPENNIES (in addition to requiring a wizbit on your script) gives you an error if you try to reduce the value below 1.

So no matter what, if a MUF program is creating an object for whatever reason, it's adding surprise pennies to your economy that most MUCK admins are probably not aware of, and may be confu

[2019-09-15 19:09] tanabi commented on #459
This is another really easy one.  Would you like to take a shot or you want @wyld-sw or myself to do it?  Trying to cultivate new FB contributors ya see, though I'm happy to do it if you're not comfortable.

[2019-09-15 19:11] dbenoy commented on #459
Sure I don't mind tackling it.

[2019-09-15 19:13] tanabi commented on #459
@dbenoy awesome!  Feel free to ping me if you have any questions, I am happy to help.

[2019-09-15 19:29] wyld-sw commented on #456
My first instinct is to use $pragma. If you two agree, we could move pragmas inside the program object (as opposed to separate variables inside the frame like comment handling), and add a $pragma recycle_refund or somesuch. Then in prim_recycle, do a:

`if (pragma_defined('recycle_refund')) refund_object(thing);`

Would that do it?

[2019-09-15 19:56] tanabi commented on #456
This sounds like a good way to do it to me.  Make sure we update 'man recycle' to note the pragma feature :)

[2019-09-15 20:43] #458 closed

[2019-09-15 20:53] tanabi commented on #458
@whislock can you test this out?

Compile thusly:
[code]
with whatever other options you want.

[2019-09-15 21:06] whislock commented on #458
That did the trick! Thanks again!

[2019-09-15 23:23] dbenoy commented on #457
So how would I go about it?

I've noticed GIVE lets wizards exceed tp_max_pennies when used on players feels like it makes sense.

But it also lets them set player penny amounts to negatives, and it has no checks at all for wizards when giving to thing objects.

[code]

So is this deliberate, or an oversight? I think there's a few ways to look at this:
1) Wizards and wizbit programs should be able

[2019-09-15 23:24] dbenoy commented on #457
Oops.

[2019-09-15 23:28] dbenoy commented on #457
Option 4 I suppose is to continue allowing negative 'refunds' and make it so ADDPENNIES lets you go into negatives.

My pull request will include a fix for when @create makes -1 value objects if @tune object_cost = 0, so theoretically there won't be any negative value thing objects kicking around unless a wizard deliberately makes them that way.

[2019-09-16 00:37] tanabi commented on #457
I agree with option [1].  When you ask how to go about doing it, are you asking technically or was that just the preface to the rest of the question? :)

[2019-09-16 01:24] dbenoy commented on #457
Because I intend to fix it myself and wanted to know which option :)

[2019-09-16 02:37] dbenoy commented on #459
Reposting this here. As mentioned in #461, Unfortunately, yes, newexit, newroom, setlink, and setlink_array do still have the same problem.

But unlike thing objects, they don't store their penny value on an object-by-object basis in the database :( So there really is no straightforward way to prevent @recycle from giving you free pennies for them, in the same way as for thing objects.

Not sure w

[2019-09-16 02:51] tanabi commented on #459
Yeah, I tend to forget that rooms and exits are special snowflakes.  I still think we should be able to make a code-path through so that MUF doesn't deduct pennies for those things, though its certainly a higher level of effort.

[2019-09-16 03:01] dbenoy commented on #459
NEWROOM and NEWEXIT seem to require M3. There are a lot of shenanigans you can do with an M3, so maybe this isn't as big of a deal as it was with thing objects (which only requires M3 if you want to override certain limits/permissions).

Since if you have M3, you're already in a position to do damage, then this lazy solution may be sufficient--put a note in the man pages for those primitives that

[2019-09-16 09:54] wyld-sw commented on #457
Pull request merged in; thank you!

[2019-09-16 09:54] #457 closed

[2019-09-24 14:34] dbenoy commented on #456
I'm looking through the recycle routine and it has some more logic in there that's news to me. Like for example, it will recursively remove exits, and I think it sends players and other things to their homes.

In my opinion, these things might come as a surprise to somebody writing MUF, as well. Maybe instead of a pragma, we should have a separate prim called 'destroy' that does nothing except rem

[2019-09-24 14:40] tanabi commented on #456
@dbenoy these things are what you might call a "safety concern".  The exits and removal of things are mostly because something can't exist "nowhere" in the DB.

I'm not opposed to a DESTROY prim, though I don't see a use case where I would prefer that over RECYCLE.  99% of the time, if I'm calling RECYCLE, it's either because I'm writing something for a quota program and the default behavior is fi

[2019-09-24 15:02] dbenoy commented on #456
My thought was that if you are making programs that create and remove objects and rooms and such, it should default not to deleting more than you explicitly request and you should be expected to ensure the object is empty, etc, yourself. Another use case besides quota libraries is for ephemeral rooms that exist to take users on a little tour or for players to tuck themselves into for some brief RP

[2019-09-25 12:19] wyld-sw opened #470 "Unduplicate logic"
Many pieces of code rely on the same (or very similar) logic, which could be consolidated.

This is the case for internal code (e.g., copying properties), server commands (e.g., do_clone vs. prim_clone) and MPI (e.g., mfn_instr vs. prim_instr).

Several examples exist of this. This issue is one option to track the planning and completion of work. Feel free to suggest strategies or other ways to tr

[2019-09-26 08:53] dbenoy commented on #470
I'll edit this comment as I discover more duplicate logic.

- As discussed in #468, a nuclear option for one big class of this problem would be to replace almost all built-in commands and MPI with MUF scripts.
- There is inconsistent logic when pennies are added or removed. Sometimes it checks for rollovers, sometimes it doesn't, and there are sporadic checks for < 0 pennies and > tp_max_pennies.

[2019-09-26 14:16] tanabi commented on #470
I'm sure there is a lot of overlap with MPI and MUF in terms of primitive implementations.  I haven't done a code review on the MUF prims yet so I don't really know for sure what's duplicate, but in my dream world MUF and MPI would run the same root code no matter what we choose to do -- because even if we replace built-ins with MUF calls, there's still code duplication.

I mentioned in another di

[2019-09-26 14:17] tanabi commented on #470
Oh, and we also have several very similar implementations of tree data structures, but I think that one is noted in another ticket.

[2019-09-26 14:24] wyld-sw commented on #470
I have seriously considered the double bridge idea, @tanabi - though as you say, it's a beast. If we had the time, I feel it may help us document all the "gotchas" that exist in seeming-similar functionality (I previously mentioned MIDSTR vs {midstr} as an example of that).

Consolidating data structures for properties and arrays is a good one.

[2019-09-26 15:28] tanabi commented on #329
I'm almost done with mfuns ... next time I get a chance to sit down with it, I should finish it.

[2019-09-27 03:52] tanabi opened #472 "CONVTIME still doesn't work right"
On hope island, CONVTIME is adding an hour to RP events submitted.

I'm not sure why.  DST related?  But we'd be falling back (and honestly I can't remember which day we do that ...) so I'd think that time -1 hour instead of +1 hour.  Some google searches around strptime were profoundly, profoundly unhelpful.  I don't see any reason this would happen.

I'm tempted to suggest we use this library: h

[2019-10-01 06:12] dbenoy opened #474 "ARRAY_INTERSECT does case-insensitive string comparisons"
[code]
Is this deliberate? I don't see this behavior documented in `man array_intersect`

[2019-10-01 12:15] wyld-sw commented on #474
Here's what I've found in a very brief look at the code. This appears to be a symptom of `array_tree_find` (called when trying to find items from one in array in the other) being called with a "case_sens" argument of 0. It also appears that this argument can only ever be non-zero within `ARRAY_SORT`.

Unfortunately, my attempt at testing by changing the 0 to 1 in `array.c:454` made your code above

[2019-10-01 13:35] tanabi commented on #474
So setting and getting props is consistently case-insensitive and always has been, true.  But I wouldn't expect an array operation to be case insensitive just because props are.  Saying MUCKs are case insensitive by nature doesn't really fly for me.

At a minimum we should document this.  I'm not sure if we care to fix it past that?  Instead of a pragma, should we have it be a seperate prim?  I du

[2019-10-01 13:43] wyld-sw commented on #474
I like the separate prim idea, and I also like the convention of adding a "!" for an exact match. @dbenoy, thoughts?

I assume there are other prims like this besides array_n_intersection and the define array_intersect. Would be good to get a list together. So many things to document!

[2019-10-01 15:51] dbenoy commented on #474
Those case-intensive people, they never QUIT. (... I'm bad at jokes.)

Maybe I'm lazy, but I would probably just document this and move on.

I worked around this problem fairly quickly in my code, and I'm guessing it would take a pretty monstrous array before it started becoming performance critical that this operation happen natively inside a primitive.

Although a pragma for "Everything should b

[2019-10-01 16:43] wyld-sw commented on #474
Makes sense to me; I'll check which other primitives may be unexpectedly case-insensitive and document them. I may miss a few.

I'll also add a pragma to the wishlist regarding case comparison. I wonder if it's useful to eventually support turning off pragmas - like `$pragama caseinsens_comparisons` and `$pragma caseinsens_comparisons off`. Wouldn't make sense for our current comment pragmas thoug

[2019-10-01 19:05] dbenoy opened #475 "Slowness when pasting commands with lots of MUF instructions"
1. Create a testprog command with this MUF:
[code]
2. Run 'testprog' repeatedly by hand very fast (Like by pressing up for previous command) Notice how there's no problem.
3. Now paste in a big line like this and watch it grind very slowly:
[code]
4. Change it to do 100 iterations instead of 100000 and the problem goes away

Other users aren't disrupted while this is happening. ```@q``` responds s

[2019-10-01 19:08] dbenoy commented on #475
My fault for writing monstrous unwieldy MUF programs maybe. :joy:

[2019-10-01 22:24] tanabi commented on #475
I don't know if this is the same problem or not, but I often copy/paste programs into ```@edit``` and I get the behavior where it "chugs" forever even though nobody else on the MUCK is effected.  Pasting in the program in smaller chunks always goes faster/instantly.

I haven't researched the problem  because honestly I didn't care enough :)  But I'm 99% sure the problem is how input buffers are pr

[2019-10-01 22:29] dbenoy commented on #475
@tanabi There's a rate limiter for input. tp_command_burst_size tp_command_time_msec and tp_commands_per_time can be altered to make it so that effect is far less pronounced.

But this appears to be unrelated (or tangentially related?) and will happen even if you paste in just four lines (on my server), but if you type those same four lines really fast it will not.

[2019-10-01 22:30] dbenoy commented on #475
Also, the program will actually run slower. It's not just a matter of it not getting to my commands fast enough. That's why I put the 'start' and 'stop' lines in the code, so you can see it actually starts the execution and then gets really slow in the middle of running the program.

[2019-10-01 22:38] tanabi commented on #475
I still think the key is that if you're typing or even pressing up then enter on a line, no matter how fast you're doing it, it's still an eternity in the computer world and you're giving the MUCK stuff in nibbles that it can accomodate naturally.  :)  So your original point that it's probably coming all in one packet is likely correct.  However, I can't expain the program running slower, other th

[2019-10-02 00:30] wyld-sw commented on #475
My currently-limited understanding of the FB networking code does fit with @tanabi's suggestion. As we know, this is one of the reason tf's `/quote -dsend` feature is helpful (or at least used to be!), since it sends files one line at a time. More wiggle room for the server to context-switch between processes.

I'd be interested to know if the situation is different (better, worse, or the same?) i

[2019-10-02 01:47] tanabi commented on #329
mfuns is done, mfuns2 is next!

[2019-10-02 02:03] tanabi commented on #475
In theory, multithreading the MUCK actually isn't that bad -- there is a very clear separation of 'duties' and using a threadsafe queue-communication system would work very well.

In practice, the MUCK is massively not thread-safe.  There's a lot of use of static buffers and occasional use of globals especially in the world of command processsing where it is assumed that any any given point, comma

[2019-10-07 10:08] dbenoy opened #477 "$IFDEF not working as expected"
I expected this to compile but it aborts.

[code]

[2019-10-07 12:57] wyld-sw commented on #477
It seems that if I replace `$def TEST 3` with `$define TEST 3 $enddef`, it behaves.

A quick test shows that the '$define` sets the value to " 3", while the `$def` sets it to "3". I think the former uses next_char directly, which includes the space - while the latter uses next_token.

Assuming this doesn't cause more issues, should we restructure $define to use next_token as well?

[2019-10-09 09:53] dbenoy opened #478 "Surprising amount of freedom with player names"
There are loads of characters that are allowed with player names. Really silly names like ```[#*%``` are perfectly allowed, for example. And concerningly, you can make names like this:
[code]

And then stand in a popular room and do something like:
[code]
(and type your password into our password-harvesting phishing server)

It feels like it goes against the conventions of the internet in the mode

[2019-10-09 17:06] tanabi commented on #478
99% of MUCKs I would say have wizards that create users rather than free registration, so I think honestly this is best left as a human-based filtration rather than imposing restrictions.  I've been on MUCKs (such as SciFi MUCKs, etc.) where names with weirdnesses make sense.  I'm inclined to leave it alone.

That being said, my preference would be to make an @ tune-able regex expression that will

[2019-10-09 17:09] wyld-sw commented on #478
Was thinking regex as well. Will code in a @ tune for that soon, unless someone wants to beat me to it :)

[2019-10-09 17:10] tanabi commented on #478
@wyld-sw I won't beat you, I'm on vacation for the next week-ish :D  Though I will probably have some more documentation done, that's really great to do on the flights.  mfuns2.c is almost done!  Though that's neither here nor there on this issue.  I'll stop typing now.

[2019-10-10 05:54] dbenoy commented on #478
I like the regular expression idea! Although if it would make tp_reserved_player_names feel awfully redundant afterward.

`@tune disallowed_player_regex=^([^a-zA-Z0-9_-]|Reserved_Name1|Reserved_Name2)$`

[2019-10-10 10:12] wyld-sw commented on #478
Hmm. Would it make sense to automatically convert the old reserved_player_names to this new regex on database load? Another idea is to just add a tune pcreate_allowed_characters for a set of those additional to [a-zA-Z0-9\-_] - add continue to use reserved_player_names.

Not sure what the best approach is.

[2019-10-10 12:49] dbenoy commented on #478
There are some characters that were never allowed in player names. Apparently brackets ( ) are one example.

The could could say if tp_reserved_player_names is surrounded by brackets, then it is treated as a regular expression instead. The brackets would get ignored when resolving the regex (but I think the way regular expressions work, brackets around the outside would end up getting ignored anyw

[2019-10-10 16:31] tanabi commented on #478
I think requiring the parens for regex is going to lead to user error.  Honestly I think reserved player names makes sense as it is ... not every admin is going to have strong regex fu so I would leave it alone.  They really serve two different purposes.  One is a sanity thing, the other may be to avoid allowing players to have certain inflamatory or thematic names (i.e. don't let someone take Sta

[2019-10-10 17:40] tanabi commented on #329
Finished mfuns2.  Will do mkversion I guess ?  I dunno if I need to document that.  move.c if not!

[2019-10-10 17:46] wyld-sw commented on #329
Was mkversion/version.c/version.tpl removed from the repo when we changed the version scheme? If so, might be an easy decision :)

[2019-10-10 19:14] dbenoy commented on #478
That's fine. No harm in keeping both, and you just have to satisfy the conditions of both.

I'm not so sure about the thematic vs sanity distinction. I'd definitely put thematic things in the regex one, because unlike tp_reserved_player_names, a regex can do partial matches, like making sure Starbuck is nowhere inside the name.

I suppose you could go in the opposite direction and instead of remov

[2019-10-14 03:31] tanabi commented on #329
mkversion is a binary and may be something left over ... so i'm working on move.c

[2019-10-15 13:38] tanabi commented on #477
@wyld-sw Sorry for not pitching in on this.  You should use next_token -- I have actually been bitten by this before as well.  I can think of no useful case where nibbling that initial unavoidable space is useful.

[2019-10-17 03:32] tanabi commented on #329
move.c is done, on to msgparse.c!

[2019-10-17 23:08] wyld-sw commented on #477
Turns out I couldn't just use next_token. Some of the $def'd values may include spaces. An example of this is in advancedb (watchfor, #80):

```$def prop_spam $iflib $lib/away "_prefs/wf/away?" $else "_prefs/wf/spam?" $endif```

So I added a call to skip_whitespace before getting the value of next_char.

Commit: b8c36fc0ba6cbf8d431915c0e2dd7fb9ddc74ff4

Let me know if there's an issue.

[2019-10-17 23:08] #477 closed

[2019-10-26 19:06] wyld-sw opened #481 "Sanity check requested: removing empty-string error message for several primitives"
Many primitives used to specifically check for an empty string argument and abort. In most cases, passing an empty string to the logic (protected with `DoNullInd`) shouldn't do any harm.

The latest commit (ce514bb462649afc144192d43fda9ee61d0bcc72) removes many of these errors in favor of continuing the logic. The following primitives now process the empty string as follows:

PMATCH, MATCH (string

[2019-11-01 22:49] dbenoy commented on #475
This is a more severe problem than I originally thought.

It doesn't just slow you down, it slows everybody on the entire MUCK.

So all somebody needs to do to cripple my MUCK is to copy and paste in this:

[code]
(Because my 'say' program is a lot of instructions. It does some fancy stuff with color codes.)

That's all it takes to totally cripple the server for everybody. And the problem doesn't

[2019-11-01 23:00] dbenoy commented on #475
Hmmm actually it doesn't seem to hamstring everything.

I've reproduced this on the development server.

Run this:
[code]

And then as another user run `testprog2` and you will see this other program by this other user being hamstrung as well.

[2019-11-01 23:14] dbenoy commented on #475
Looks like if I take the instruction-intensive code in my color library and set it to preempt, the problem goes away.

[2019-11-02 21:14] tanabi commented on #475
That makes sense, preempt of course bypasses multitasking and it is designed to resolve the kind of problem you're having here.

You may be able to fix this problem by changing the instruction tune parameters ... not sure.  This is a difficult one to fix without multi-threading or gutting the server.

[2019-11-02 22:03] dbenoy commented on #475
Yes I think the multitasking code is very obtuse, too. But it's possible this is just some kind of oversight.

If I run these commands with quarter-second delays between them, it finishes almost instantly. If I paste them all at once, they take minutes of waiting to do the same task.

There's something in there that is supposed to be 'Okay we're idle, time to do some work' which is putting it off

[2019-11-03 02:33] tanabi commented on #475
If you poke around and come up empty, let me know and I'll take a whack at looking at it. :)

[2019-11-15 04:28] tanabi commented on #329
Jeez I can't believe msgparse is taking me a month!  Granted I had about 2 weeks where I couldn't work on much, but still.  I'm almost done with it.  I'm still alive, really!

[2019-11-27 19:25] tanabi commented on #329
I'm still alive!  Still working on msgparse.c ... almost done though

[2019-11-29 06:32] tanabi commented on #329
msgparse.c is done!  Looks like mufevent.c is next.  I'm over halfway done (since I did some files, initially, out of alphabetical order ... I'm not sure what the total percent complete actually is, but, it's definitely more than half!)

[2019-12-06 16:29] wyld-sw commented on #410
`@objedit` seems to work in the dev muck currently. If there's something still broken, we can re-open this.

[2019-12-06 16:29] #410 closed

[2019-12-12 21:57] dbenoy opened #483 "REGSPLIT server crash"
`@muf "a b" "(?= )" 0 regsplit` crashes the server.

[2019-12-12 22:10] tanabi commented on #483
Did you faint when you found this one? :D

[2019-12-13 18:16] dbenoy commented on #483
I didn't actually look at the fuzzball source yet, but what I expect is going on is that it cuts a piece off, then continues until there's no string left, and since this is generating a 'zero length' match, it just cuts and cuts forever. I encountered a similar thing when I was writing this piece of MUF. Take a look at how I had to write regexp_nozero. A similar solution is probably what's needed

[2019-12-13 19:10] dbenoy opened #484 "Big strings"
I have created a 24-bit color library in MUF and I'm running up against the string size limit a lot.

24-bit ANSI codes are quite lengthy (This is what white looks like: "\[[48;2;255;255;255m"), and if they are applied frequently within one string (say to display some ANSI art like some kind of map for navigating the MUCK, or to display a long list of colored items somebody left lying in a room, e

[2019-12-13 19:18] wyld-sw commented on #484
I'd certainly be in favor of making a simple string_buffer struct for our use. It would certainly be an undertaking to switch to it, but may be worthwhile - as a potential move to C++ is probably a version or two in the future.

Thoughts?

[2019-12-13 20:05] tanabi commented on #484
@dbenoy  you probably know this, but that BUFFER_SIZE variable is used literally everywhere so expect a potential memory jump.  I'd be curious how much of a jump; of course fuzzball comes from an era where memory was at a premium, so TBH you probably won't even "really notice" it.  But if you're running it on sparce hardware (like a Pi or a cheap VM) it could potentially hurt.

@wyld-sw I think th

[2019-12-13 20:14] dbenoy commented on #484
I can't disagree with any of this.

I just gotta deal with the fact that sometimes lines will get long and things will crash and try to write my code so that if it's going to crash, it doesn't do it at an inopportune moment, like after giving a player some sort of benefit but before taking payment, or after executing some task but before/during delivering a message telling wizards that somebody is

[2019-12-13 20:24] wyld-sw commented on #484
Agreed, @tanabi. I don't think shared_string currently has the API to nicely add and remove, but I certainly understand that there's bigger fish to fry at the moment.

[2019-12-13 20:26] tanabi commented on #484
This may be a good reason to bump up the C++ conversion to a higher priority.  We can even consider things like doing a gradual conversion ... once we build the core bits in C++, a lot of stuff (like MUF prim code, etc.) can remain in C for awhile.

[2019-12-13 21:03] dbenoy commented on #484
This pretty much sums up my feelings about object oriented programming: https://www.youtube.com/watch?v=QM1iUe6IofM

I'm no fan of C++.

But I also don't think it would hurt this particular project to switch over to it. C++ is decent stuff, so long as nobody goes nuts and starts encapsulating everything into objects in the bad ways described in that video.

But if that were the case, there would n

[2019-12-13 21:33] tanabi commented on #484
One must always do what makes sense :)

We actually have a number of cases where inheritence would make a lot of sense.  For instance, we have like, what, 3 different implementations of B-Trees?  Each one ~slightly~ different in structure but with 85% code overlap?

Our options there are to either make one B-Tree to rule them all, which means we're wasting memory because there are some subtle but

[2019-12-13 21:41] dbenoy commented on #484
Excellent, I think you get the gist of what I'm saying then :) Never would we want to make a main loop class, or command handler class, or something like that.

In which case it doesn't seem like much hassle at all to C++-ify it, and just start gradually taking these little constellations of self-contained data like you describe and turning them into objects as needed.

[2019-12-13 21:51] dbenoy commented on #484
Although personally I'm a lot more reluctant to objectify things. I wouldn't make 'can X link to Y' part of the object's methods. Just anything relating directly to its data. You can just as easily make a can_link_to(object1, object2) procedure.

But... I've laid my anti-OOP bias out for you, so this is yours to take with a grain of salt :)

[2019-12-13 22:03] wyld-sw commented on #484
I think we’re all on the same page. Using objects “because OOP!” does no one any favors. I think we’d start with simple data structures that increase maintainability for sure.

[2019-12-24 04:39] tanabi commented on #329
mufevent is done!  I'm now diving into MUF prims.  How ~horrifying~ exciting!  p_array.c is next

[2020-01-06 01:19] #481 closed

[2020-01-12 20:43] wyld-sw commented on #329
p_connects has been documented!

[2020-01-13 03:52] tanabi opened #490 "Too many repetative but not-centralized strings"
As I'm working on the MUF commands, I'm noticing that the error message strings are repeated literally all over the place.

If we were to ever want to do any of the following:

* Change a message
* Localization
* Make these messages dynamic (i.e. load them from a file, make a MUCK command to alter them, etc.)

.... it would be a huge effort to do so.

I think localization is incredibly unlikely --

[2020-01-13 13:01] wyld-sw commented on #490
Would it be worth our time to make a pre-flight process that automatically checks things like mucker level and argument types before (or right after) each primitive is called? This might inform our eventual interpreter overhaul - and maybe help us find inconsistencies.

I probably would want to consider constructing error messages like:

 "Operand 1: 'thing to match' must be a string."

...based o

[2020-01-14 21:38] tanabi commented on #490
I think going to C++ simplifies this a lot, because the base class of MufPrim or whatever we call it will have some set of standardized checks and you can fire them off -- or perhaps we come up with a scheme that even automates that so that the parameters required are basically "data" that is associated with the primitive (which I think is what you're proposing here).  I don't want to get elaborit

[2020-01-14 21:45] wyld-sw commented on #490
Yep, that'll work. My first goal was to audit all of the primitives, so we could identify inconsistencies and see where things could be done better. That'll obviously help us whatever language we're in, but it makes sense to wait until we're closer to implementing part of this with objects.

I agree with the fb_perror approach. At one point, not all primitive error messages agreed on if "operand 1

[2020-01-14 21:48] tanabi commented on #490
We could remove all ambiguity by making a "calling signature" string part of each prim.  This may be more of a C++ idea, but like...
[code]
Error becomes:

[code]

Note that bracket indicats what string is wrong.  We could even theoretically parse those strings to do arg checking ... but I don't really like the idea of string parsing on EVERY PRIM being run, seems overkillish.  I mean, it probably

[2020-01-14 21:53] wyld-sw commented on #490
I agree that it's probably C++ (which I'm thinking should be soon after FB7's official release - which I may remember we thought could be relatively soon after documentation is done), but I do like the calling signature idea. Having text like "descriptor to notify" associated might just need be in documentation.

[2020-01-15 00:10] tanabi commented on #490
Sure.  Let's crank out these docs then we can do it.  Just have like 10,000 more MUF prims to go :)  I think after the p_*'s a lot of the other files are documented ... I did the first files in a weird order (like I think wiz.c is done, for instance).

[2020-01-17 04:11] tanabi opened #491 "ARRAY_FILTER_LOCK has no man page"
ARRAY_FILTER_LOCK has no man page.

You can copy the docs from ARRAY_FILTER_FLAGS ... the difference is instead of a string of flags, it takes a parsed lock.

[2020-01-17 04:59] tanabi commented on #329
p_array is done!  I'll hit p_db.c next unless @wyld-sw wants it? ... I think we had an indecisive email conversation about it. :D

[2020-01-17 11:15] wyld-sw commented on #329
I’ll take it!

[2020-01-17 13:45] wyld-sw commented on #491
Hmm. ARRAY_FILTER_LOCK seems to have a man page on environments I'm testing (though it was copied from ARRAY_FILTER_PROP). Could it be that the system you're looking at doesn't update help content when upgrading? Or is it just way too early for me to be helpful? :)

[2020-01-17 15:13] tanabi commented on #491
Hrrm, Hope Island doesn't have the man page, but this time instead of assuming the MUCK was set up right I did a grep and I can see ARRAY_FILTER_LOCK is there.  So this is my bad, yeah, it's Hope Island and not Fuzzball.

[2020-01-17 15:13] #491 closed

[2020-01-17 15:14] tanabi commented on #329
Okay!  p_error is mine then.

[2020-01-17 22:24] tanabi opened #493 "Incorrect example in man page"
man array_excludeval gives the following example:

[code]

This is actually wrong -- if you run that, it'll return an empty array.  Instead, it should be:

[code]

The other example works (though it returns a dictionary and not a list)

[2020-01-18 00:36] wyld-sw commented on #493
Fixed! 34b950ae1597270f869b460d2a0294754c7271c8

[2020-01-18 00:36] #493 closed

[2020-01-23 04:31] tanabi commented on #329
p_error is done.  @wyld-sw I'll take p_float next.

[2020-01-23 22:35] tanabi opened #495 "MUCK Crash on @toad"
I @toaded a player while they were connected (not sure if that is relevant or not) and it crashed the MUCK.  No error that I can find.  This happened "live" on Hope Island, I have not tried it on a test MUCK yet but I wanted to get a bug in as this is kind of a big issue :)

[2020-01-23 22:47] tanabi commented on #495
Found it.  Seg fault here in interface.c

[code]
It's trying to get the player's name after they have been toaded.  Whoops :)

[2020-01-23 22:47] tanabi commented on #495
I think this is because we removed the creation of toad objects on @toad if I remember right.  And now we've learned the folly of our ways!

[2020-01-23 22:53] wyld-sw commented on #495
I think toad objects are still created, but there’s a tune for recycle_toads that might be set to on. Or I may have dreamt that. Either way, an issue!

[2020-01-23 22:53] tanabi opened #496 "Hope was using sha1hash ?"
Hrm!  I recall seeing a commit awhile ago removing sha1hash prim ... and Hope Island was using that for its @ pcreate command to generate random passwords.  Why did we remove that again?  Is there a substitute?  I can't quite recall.  I searched issues but don't see a corresponding issue.

[2020-01-23 22:55] tanabi commented on #495
I had the line wrong (notice the source file is more recent than executable note).  The real line is this one:

[code]

[2020-01-23 22:58] wyld-sw commented on #496
Oh, sorry. It was only added since we had sha1.c around for @ hashes - which is gone. I may remember a conversation that MD5HASH is sufficient (and the new prim wasn’t exactly needed), but I (or you, I think you have pernissions) can revert!

[2020-01-23 23:05] wyld-sw commented on #495
So maybe adding a OkObj(player) would work?

[2020-01-24 00:04] tanabi commented on #495
Fixed.

[2020-01-24 00:04] #495 closed

[2020-01-24 00:04] tanabi commented on #496
I swapped hope to use the MD5HASH call.

[2020-01-24 00:04] #496 closed

[2020-01-24 00:31] wyld-sw opened #498 "Include custom welcome screens for starter databases."
Can probably just `lsedit #0=welcome` and remove welcome.txt from the db packages.

(we may want to give motd.txt this treatment at some point)

Something basic will do, that has the database name. Though ASCII art is welcome (pun intended?) too! The common "how to connect" information is available through "help" on the welcome screen in FB7.

[2020-01-27 05:11] tanabi commented on #329
p_float is done.  @wyld-sw I'll take p_math next.

[2020-01-29 03:50] tanabi opened #500 "Incorrect man page"
man + mentions a tune parameter that, as far as I can tell, no longer exists.  If it does exist, it isn't honored, because prim_add doesn't use it:

[code]

This should be re-written to just say it will concatenate if both operands are strings and not mention the sysparm.

[2020-01-29 04:15] wyld-sw commented on #500
I think mufman.raw was updated when that sysparm (previously a #define) was removed.

[2020-01-29 04:20] tanabi commented on #500
You're right.  Sorry about that -- I need to stop relying on Hope's man pages to be accurate, I will try to remember to check the raw files before opening an issue :)

[2020-01-29 04:20] #500 closed

[2020-02-02 20:14] wyld-sw commented on #329
p_db is done and awaiting approval. (MOVETO may need special attention later). @tanabi, I'll take p_mcp.

[2020-02-03 01:39] wyld-sw commented on #329
Actually... @tanabi, you've got more experience with MCP than I do, so it might be better for the project if you documented the 14 primitives in p_mcp. I can take p_misc, if you agree!

[2020-02-03 04:10] tanabi commented on #329
@wyld-sw p_misc is yours!  I will look at p_db right away

[2020-02-03 13:46] wyld-sw opened #502 "Review moveto/teleport logic."
Review logic between prim_moveto and do_teleport, and ensure that any discrepancies are fixed or documented, and maintenance issues are corrected.

[2020-02-07 02:36] tanabi commented on #329
p_math is done, doing p_mcp next.

[2020-02-11 15:56] tanabi commented on #329
I had injured my elbow (just tendonitis, nothing "serious) though part of my recovery was to avoid unnecessary typing / motion / etc.  I'm finally getting back in action enough to resume work here, yay!

[2020-02-27 19:51] tanabi commented on #329
p_mcp is done.  Claiming p_props @wyld-sw

[2020-02-27 19:56] wyld-sw commented on #329
Sounds good to me. p_misc is almost done too!

[2020-02-28 01:14] tanabi opened #505 "Minor security issue with PROPDIR? and BLESSED?"
PROPDIR? does not check if the user caller has permissions to read the property, which means you can theoretically discover hidden propdirs.

How big of a deal is this?  .... I really can't imagine a worth-while attack vector here, but, we may as well fix it.  prim_propdirp in p_props.c should be altered to use prop_read_perms which is a static method in that file.

UPDATE: prim_blessedp in the sa

[2020-03-03 02:50] tanabi commented on #329
p_props is done ... claiming p_regex @wyld-sw

[2020-03-06 18:42] wyld-sw commented on #329
p_misc is done. p_stack is next for me! @tanabi

[2020-03-06 18:54] tanabi commented on #329
Awesome!  I'm almost done with p_regex

[2020-03-06 22:43] datasecured opened #508 "Unicode (UTF-8) support?"
I have no idea what level of effort this would entail, but is there any possibility to add support for the UTF-8 encoding? Would do wonders for MUCKs in other languages.

[2020-03-07 06:35] tanabi commented on #508
The short answer is, I'm not sure.  The full Unicode (i.e. multibyte) would be unlikely as that would require substantial re-writes, but UTF-8 and supporting just the 'low' 8-bit unicode might be possible.  We'd have to dig in.  It would beg a lot of questions around what characters are acceptable in object and prop names and then to alter the check code to handle it correctly ... a lot of devil d

[2020-03-12 03:50] tanabi commented on #329
p_regex is done, @wyld-sw I am doing p_strings next

[2020-04-05 01:22] revarbat opened #510 "Lack of MCP argument checking leads to crashes"
If the `mcp_mesg_arg_getline()` function is called for a non-existing argument on an MCP message, it returns NULL.  Not all places that use this function are properly verifying that NULL wasn't returned.  This can cause server crashes without a user even logging in.  This is being actively exploited in the wild as a denial-of-service attack on popular FBMUCKs.

I have verified that this bug still

[2020-04-05 01:38] cyveris commented on #510
Is disabling MCP support during recompile sufficient to guard against this as a short-term measure?

[2020-04-05 02:24] tanabi commented on #510
I'm on it, I'll have a patch out shortly for FB7.

[2020-04-05 02:36] wyld-sw commented on #510
Thank you, @tanabi!

[2020-04-05 02:53] revarbat commented on #510
Disabling MCP support should work.

[2020-04-05 02:54] tanabi commented on #510
I've got a fix, I'm working on a test case.  I've asked @revarbat over email for whatever verified crash script we can use.

[2020-04-05 03:09] tanabi commented on #510
I've created my own test case that crashes the MUCK so I'll have a patch here soon.

[2020-04-05 03:10] revarbat commented on #510
I don’t have a script to reproduce. Bug was found by gdb analysis of a crash core file.
Connected to the server, did NOT log in to a user, negotiated MCP packages including simpleedit, then sent a simpleedit set message that lacked a reference argument.

[2020-04-05 03:34] tanabi commented on #510
@revarbat I have a script if you want it :)  I've found another problem where notify can get called when a player isn't logged in yet and that also causes a crash.

[2020-04-05 03:38] revarbat commented on #510
I would be interested in info on that latter bug.

[2020-04-05 03:40] tanabi commented on #510
@revarbat Please check out my PR : https://github.com/fuzzball-muck/fuzzball/pull/511   Basically there's an error handling call in mcppkg.c that has an improper notify.  I took SendText from mcp.c and turned it from a static to a proper function and just used that instead.

[2020-04-05 04:11] tanabi commented on #510
This is probably fixed.  I am going to do some more testing and leave this open for a day or two until I feel reasonably certain.

[2020-04-05 04:44] revarbat commented on #510
There are places where the result of MCP_PLAYER() is not being validated.  Most are okay, as `controls()` checks against -1, but there's at least one place a `Wizard()` test will cause a crash if the connection isn't logged in.

[2020-04-05 04:59] tanabi commented on #510
@revarbat I'll have another PR in a sec, I think I found all those spots ...

[2020-04-05 05:13] tanabi commented on #510
PR is up.  I'm off to bed for now, I'll do more testing in the morning.  Thanks guys!

[2020-04-05 19:26] tanabi commented on #510
I started poking at it again today and looks pretty solid, but then the obvious occured to me which probably should have occured to me last night.  Why not just return immediately (or display an appropriate error) if the user tries to use these MCP calls that require them to be logged in?

Duhhh ....

[2020-04-05 19:33] wyld-sw commented on #510
It happens. I'd support the change to returning immediately, but the important thing is the crashes are gone, Thanks again!

[2020-04-05 19:34] tanabi commented on #510
@wyld-sw  I will have a final PR of this shortly -- it will consolidate the ObjExists check to a single line and provide a consistent error message.

[2020-04-05 20:30] tanabi commented on #510
I'm gonna call this done.

[2020-04-05 20:30] #510 closed

[2020-04-14 03:51] tanabi commented on #329
p_strings is done.  pennies.c is already documented.  @wyld-sw I'll take player.c next!  I think we're getting towards the end -- a lot of these last files are already documented.

[2020-04-15 04:21] tanabi commented on #329
player.c is done!  @wyld-sw taking predicates.c

[2020-04-16 13:43] wyld-sw commented on #329
p_stack is finally done - sorry for the huge delay. Also sorry for the irrelevant commits in my PR - I'll remember to sync my fork next time!

@tanabi, I can take prochelp.c

[2020-04-16 13:58] wyld-sw opened #517 "Address compile warnings"
This is certainly a general issue (and a significant number of warnings appear when using compiler flags like `-Weverything`), but we may be able to start with these that result when using gcc on Ubuntu:
[code]

These particular items seem to be straightforward to resolve: check return values for fgets/nice/dup/write/freopen - and do something helpful if it's unexpected, and ensure snprintf can't

[2020-04-16 14:08] wyld-sw opened #518 "Discuss in-server documentation"
Currently, prochelp must be called to parse raw help files into a format that the server can read with help/man/mpi. This process is not cross-platform, requiring the "end result" of prochelp to be distributed as well. The raw format may also take some getting used to.

I propose the in-server documentation process be rewritten to be cross-platform, at least.

One option (there are many others, I'

[2020-04-18 03:54] tanabi commented on #329
@wyld-sw I'm on resolver.c then!  We're almost done.

[2020-04-23 03:22] tanabi commented on #329
@wyld-sw timequeue.c is next for me ... looks like timequeue.c and prochelp.c are the last 2 files to document!!  Almost done!!

[2020-04-26 02:37] cyveris opened #521 "Significant MUF error problems after compiling latest code"
Launching an otherwise-functional instance of SPR on a test system yields mountains of MUF errors pretty much everywhere.

Has something changed in MUF to yield so many different errors?

[code]

[2020-04-26 02:42] cyveris commented on #521
I set one of the offending programs DEBUG, and I see this:

[code]

[2020-04-26 02:57] cyveris commented on #521
I rolled back to the commit before eb2e1429359c5a7333fe25e0d189f127c4262777, and everything seems to work properly.

[2020-04-26 02:59] wyld-sw commented on #521
Thanks for being interested in the latest build, there should be a stable version released very soon!

Also thank you very much for providing the debug trace. There was an issue with clearing variables, that I believe would lead to that behavior. I've made a change; would you mind testing again with the latest code?

I apologize for the inconvenience.

[2020-04-26 03:20] cyveris commented on #521
Newest code is still broken just as before.

[2020-04-26 03:26] wyld-sw commented on #521
Ok, we’ll investigate further. Thanks again!

[2020-04-26 03:40] wyld-sw commented on #521
Do all of the programs still have the error? Or is  #100667 now fine? I realize I had only “fixed” VARIABLE not LOCALVAR and wonder if it actually did anything.

Thanks.

[2020-04-26 03:45] tanabi commented on #521
@wyld-sw FWIW it looks like the only way you can get ?<p_stack.c:...> on the debug dump like that is if CLEAR is botching.  I think that happens when MUF tries to inspect an instruction that has been CLEAR'd if I am reading the cod right.  So it's gotta be something to do with the CLEAR mixup.

[2020-04-26 03:50] wyld-sw commented on #521
Yeah, that’s what I saw. I changed the order of clear and push back to its original for VARIABLE but not LOCALVAR. I’m not able to change the other right now, would you mind if you’re not busy? I’m hoping it helps, because I can’t immediately see any other change that would cause that.

[2020-04-26 04:13] tanabi commented on #521
@wyld-sw Sure I'll push it up in a minute

[2020-04-26 04:17] tanabi commented on #521
@wyld-sw I pushed up a fix but I can't merge it ... could have swore I had merge perms on the repo :/  Ah well, you'll have to click the button.

[2020-04-26 12:12] wyld-sw commented on #521
Ok, that’s merged in. And I think you should now have the expected permissions.

@cyveris Please check if the latest build is still broken.

[2020-04-26 12:14] cyveris commented on #521
Will do. Stand by.

[2020-04-26 12:21] cyveris commented on #521
It gets further; it seems to have uncovered an issue in the **nip** primitive. Multiple programs are failing, but the debug trace all shows the issue in that prim.

[code]

[2020-04-26 12:52] wyld-sw commented on #521
Ugh, same issue there. That should be fixed now. Try it now? (I don't immediately see any other primitives with that problem, hopefully...)

@tanabi This was a direct commit. I'll redo my remotes :)

[2020-04-26 12:55] cyveris commented on #521
Seems to be good, now! Thanks.

[2020-04-26 13:08] wyld-sw commented on #521
Thank you for your help!

[2020-04-26 13:08] #521 closed

[2020-04-26 13:18] wyld-sw commented on #329
@tanabi prochelp.c is done! (after a false start with last night's commit).

[2020-04-30 20:48] cyveris opened #524 "Ubuntu 20.04 turns off TLSv1, TLSv1.1 by default"
The intent of the --enable-force-tls12 option (#458) was to disable TLSv1.3 by setting the maximum TLS version to 1.2, not to force both minimum and maximum TLS versions to 1.2.

Compiling with this option seems to have broken clients that only speak older TLS versions, such as Potato.

[2020-04-30 20:50] cyveris commented on #524
I grossly misread something, here. Ignore me.

[2020-04-30 21:05] cyveris commented on #524
Found the issue. There's a setting buried in a changelog for the latest Ubuntu LTS release. If the string `:@SECLEVEL=1` isn't found at the end of the `ssl_cipher_preference_list` tuneable, TLSv1 and TLSv1.1 will be disabled even if every other config option allows it.

[2020-05-01 20:17] tanabi commented on #524
@cyveris Thanks for the report!  @wyld-sw is this something you can look at?  If not I'll try to look this weekend.

[2020-05-01 20:39] wyld-sw commented on #524
I probably can't get it to before next week, so I'd appreciate it if you could take a look. Thanks!

[2020-05-03 02:02] #505 closed

[2020-05-04 03:46] #524 closed

[2020-05-04 14:57] tanabi opened #529 "Make Fuzzball Docker image"
For two purposes;

Firstly, it will make it a lot easier to test.

Secondly, we can put it on Dockerhub and make another very easy way for people to run Fuzzball.

[2020-05-04 19:37] wyld-sw commented on #424
I forget if we've already talked about this, but it might also be possible with the SSH protocol.

https://www.ietf.org/rfc/rfc4254.txt (6.7. Window Dimension Change Message)

[2020-05-09 20:33] wyld-sw commented on #517
The warnings listed in the original comment should be gone now.

[2020-05-10 02:36] tanabi commented on #517
Awesome!

[2020-05-10 04:43] tanabi commented on #517
Warnings are cleaned up for me!

[2020-05-10 04:43] #517 closed

[2020-05-10 04:45] tanabi commented on #329
FINISHED IT!!!

Before I can close this ticket, I want to make sure the docs build alright, so I will check that and make sure they look okay before calling it done :)

[2020-05-16 05:47] tanabi commented on #329
In case anyone is wondering what's going on here ...

doxygen came back with many, many warnings and I'm going through and fixing all of them.  I'm around 75% complete or so I think.  This will be ready very soon, I just want to make sure the docs built start off on the right foot and aren't flooded with warnings -- especially since I have dreams of autobuilding and publishing them somewhere at so

[2020-05-17 14:41] cyveris opened #537 "We need a DUMP prim!"
Currently, the only configurable for database dumps is how often. We'd like to be able to configure dumps to happen at a specific server time, e.g. hourly **on the hour**, similar to a cron job.

[2020-05-17 14:46] wyld-sw commented on #537
How about an option (`@tune cron_program`?) that specifies a MUF to run every so often, and expose dumping as a wizard primitive?

Just an idea. Let me know if it's not feasible.

[2020-05-17 14:48] cyveris commented on #537
That sounds perfect, really. The purpose behind the request is ensuring internal consistency for regular backups/rsync jobs. Don’t want to accidentally get into a timing where rsync is occurring during a dump.

From: wyld-sw <notifications@github.com>
Sent: Sunday, May 17, 2020 10:47 AM
To: fuzzball-muck/fuzzball <fuzzball@noreply.github.com>
Cc: Justin Coffman <jcoffman@securesys.io>; Author <aut

[2020-05-17 14:52] cyveris commented on #537
That could be perfect. The purpose behind the request is ensuring internal consistency for regular backups/rsync jobs. Don’t want to accidentally get into a timing where rsync is occurring during a dump.

The question is how often the `cron_program` would run, and how we'd ensure that it runs at the minute desired.

[2020-05-17 14:56] wyld-sw commented on #537
What are your thoughts on that? I was thinking it could run every minute as you might expect - which doesn't seem like it would be an issue normally. Could be completely wrong though.

[2020-05-17 14:57] cyveris commented on #537
That's as often as anything in a crontab or `cron.d` file would be executed. I don't see an issue there.

[2020-05-17 14:58] wyld-sw commented on #537
Could also have a `@tune cron_interval` defaulting to 1m if there's a need to change it for performance reasons.

[2020-05-17 14:59] cyveris commented on #537
Love it!

[2020-05-17 15:59] tanabi commented on #537
Here's a couple more thoughts on this --

A 'crond' could actually be very easily programmed in MUF.  There's no particular reason to server-side this.  If you'd like me to write this, I could probably do it pretty closely.

If we're going to bake it into the server, I'd want to make it more flexible than to run a single MUF at some interval ... to me that seems like barely better than writing cro

[2020-05-17 16:01] tanabi commented on #537
If crond is written in MUF, we can make it basically work like real cron.  Could even use the same interval format and a proplist of entries.  Such as:

[code]

would call \#12345 every hour at the 5 minute mark.

[2020-05-17 16:08] cyveris commented on #537
We already have that. There are two things we need: The ability to disable database dumping via tune, and a wizard-level prim that allows a dump to be performed in MUF.

[2020-05-17 16:10] tanabi commented on #537
Ah, good point, we'd need a DUMP prim.  That should be super easy to make, a nice 5 minute change.  As for disabling DB dumping in tune -- When you manually dump it actually resets the dump timer.  as long as your DB dump interval is greater than your MUF dump interval, this should never come up -- and leaving dumps on will give you a safety net.

[2020-05-17 16:10] cyveris commented on #537
Sounds great!

[2020-05-17 16:11] tanabi commented on #537
I'll work on the DUMP prim as soon as I'm done with the documentation stuff -- I'll probably get to it tonight -- assuming @wyld-sw doesn't beat me to it.  It should seriously only take about 15 minutes to do, and 10 minutes of that will be testing :)

[2020-05-17 16:14] wyld-sw commented on #537
Apologies.. my cron_program idea was for a crond to read a crontab - I probably should have made that clear :)

[2020-05-17 16:22] tanabi commented on #537
@wyld-sw Yeah sounds like this really turned into "we need a DUMP prim" which is a much easier and quicker problem to solve :)

[2020-05-17 16:22] cyveris commented on #537
Could we also have fbmuck accept an unused signal via kill to trigger a dump?

[2020-05-17 16:24] tanabi commented on #537
@cyveris I think it might already do that -- have to double check.  I know there was a discussion in the issues about signals about a year ago.  However, I think regardless, a DUMP prim is an excellent idea as there are many cases for it.  We can also look into a signal (or verify if a signal exists)

[2020-05-17 19:23] tanabi commented on #537
@cyveris I found the issue re. signals that I mentioned and funny enough it is one of yours :)

https://github.com/fuzzball-muck/fuzzball/issues/307

SIGHUP reloads config, SIGUSR1 / SIGUSR2 do legacy features we don't know if folks are using or not.  We would either have to re-task one of those signals (which in the past we've been reluctant to do since we don't know if those are features people

[2020-05-17 19:31] cyveris commented on #537
Haha, oops! I'd appreciate the MUF/Python that we could use to trigger a dump. Is it possible to make the DUMP prim have a synchronous option, so that it doesn't return until the dump is completed?

[2020-05-17 20:12] tanabi commented on #537
I was actually thinking about this.  So ... the way the MUCK is constructed, when it does a DB dump and async dumps are enabled, it forks a process to do the dump and then it immediately returns the dump call so the MUCK doesn't hang while it dumps.

Our options here would be to either (a) deal with it being async and accepting this is the world we live in (which sucks), (b) let DUMP take a parame

[2020-05-17 20:14] cyveris commented on #537
That would be amazing, honestly. Like I said, the intent here is to set up a backup system for SPR (among others) that can guarantee internal consistency at backup time. In an ideal world, I could run a single backup script that connects, dumps, returns when the dump is complete, then runs a borg backup on the muck's game dir.

[2020-05-17 20:16] tanabi commented on #537
If I can make it work the optimal way, I'll provide a python + MCP script that does the dump and waits for the dump to finish.

If I can't make it work the optimal way, I'll stil provide the python + MCP but you'll have to choose between living in an unpredictable world or locking up your MUCK while it waits :)  I'll do my best.

Anyway, I'll assign this one to me since this is getting more and mo

[2020-05-17 20:29] tanabi opened #538 "TinyMUCK Wiki Page"
https://en.wikipedia.org/wiki/TinyMUCK

There's a link to the old sourceforge on the Wiki for TinyMUCK.  We might want to update this wiki in a way that preserves the history but also links the new github project.  Maybe even elaborates a little on the fuzzball versions.

Wiki is very standards fussy so if someone else has experience contributing, my preference would be to let them do it rather th

[2020-05-18 03:11] tanabi commented on #329
I declare this done!!  Commit incoming.  I will put in a seperate issue to make a documentation artifact for use on the web.

[2020-05-18 03:11] #329 closed

[2020-05-18 03:13] tanabi opened #542 "Documentation Artifact"
It would be cool if we could auto-build documentation and publish it somewhere.  The command to build the docs is simply:

[code]

it needs doxygen and graphviz packages installed and it makes an api-docs directory which can be zipped into a release file or published on the web.  Would be trivial to build docs with a Docker container or maybe there's some build option the same way the windows bina

[2020-05-18 03:22] tanabi commented on #537
Ugh, finishing up the documentation project took longer than I thought it would (...tunelist.h is a jerk :) ) and basically took me all night to finish, but it's finished, and I will add this prim in tomorrow for you.  Sorry for the delay!

[2020-05-18 12:55] wyld-sw opened #543 "reload SSL context when cert files change"
Consider calling reconfigure_ssl (or similar) when the server detects that the certificate files have been modified.

Thanks to DinoEx@Anthopomorphia for the idea.

[2020-05-18 13:14] cyveris commented on #537
All good! Thanks again.

[2020-05-18 14:28] dinoex opened #544 "compiler warnings about nested comments"
cc -O2 -pipe -g -O2 -std=gnu99 -fwrapv -I../include  -I/usr/local/include  -c array.c
In file included from array.c:22:
../include/interface.h:121:29: warning: '/*' within block comment [-Wcomment]
                            /*   usually same as descriptor, exists to
                            ^
1 warning generated.

[2020-05-18 14:34] tanabi commented on #544
Ack, my bad.  I'll have a fix up in a sec.  Thanks!

[2020-05-18 14:38] #544 closed

[2020-05-18 15:50] aidanPB commented on #538
Part of Wikpedia's standards-fussiness is the whole "original research"
thing, which gets very fuzzy indeed with open-source projects. It might be
best to raise the issue on the article's Talk page and let someone who has
never contributed to the code deal with it.

On Sun, May 17, 2020 at 8:29 PM tanabi <notifications@github.com> wrote:

[2020-05-19 00:49] tanabi opened #548 "array_set_pinned not really a function"
So I'm using the documentation for development -- it's actually quite useful!

However, I've noticed that I reference a function array_set_pinned several times ... and yet it does not exist :)  There's not even a close function name that I can find.  I probably wasn't making it up, but maybe I was ... docs should be fixed to either reference the correct function, or explain pinning properly.

[2020-05-19 01:27] tanabi commented on #537
@cyveris I'm almost done with this.  Code is complete, I'm just hitting it repeatedly to make sure there's no memory leaks or other weirdnesses.

One weirdness is, the MUF event wait queue is apparently processed really infrequently ... an event can sit for a good 10 seconds, maybe a little more, before it is reported to the program.  This isn't great, but for your purposes (wanting to wait until

[2020-05-19 01:30] cyveris commented on #537
I'm looking at hourly processes, so a 10-15 delay is not a problem. :)

I'll keep an eye out, but yeah. Probably not a big deal.

Thanks again for all the help!

[2020-05-19 02:14] tanabi opened #550 "Fix mcp-extern.muf event"
If you trigger mcp-extern's MCP event without an auth: parameter, it will crash the MUF.  Oops!

I have a relatively easy fix for this, the auth function should look like:

[code]

I just need to find the mcp (probably in fbmuf) and fix it.

[2020-05-19 02:42] tanabi commented on #537
Okay!  So I finished this, when the PR gets reviewed and merged it will be ready.

In "scripts" you will find two new buddies.  trigger-dump.muf and trigger-dump.py

trigger-dump.muf is basically an altered version of mcp-extern that will allow you to trigger a dump.  It can be merged into mcp-extern if you are already using it if you wish ... or just run 2 separate processes, it won't hurt that m

[2020-05-19 14:42] tanabi commented on #537
This is done, ping me if you need help getting any of it set up.

[2020-05-19 14:42] #537 closed

[2020-05-19 18:53] cyveris commented on #537
Works like a champ!

[2020-05-20 02:38] tanabi commented on #529
@wyld-sw How far did you get with this?  Still want me to take a wack?

[2020-05-20 02:40] wyld-sw commented on #529
I’m close, but I’m sure you could do if more elegantly. Have at it!

[2020-05-20 02:44] #550 closed

[2020-05-20 02:46] tanabi commented on #529
Don't sell yourself short :)  But I'll take a wack at it.  We can compare notes at the end.

[2020-05-27 23:43] wyld-sw commented on #483
The latest merge (#557) seems to fix this issue. Can you confirm?

[2020-05-31 22:38] wyld-sw commented on #483
Closing since it doesn't crash anymore. Feel free to reopen if the fix is incorrect.

[2020-05-31 22:38] #483 closed

[2020-06-12 21:15] digitalcircuit commented on #32
Now that https://github.com/fuzzball-muck/fuzzball/pull/539 is merged, the fundamentals of this are established! :tada:
Thank you @woggle.

I'll go ahead and close this issue.  If I'm mistaken, feel free to re-open it.

[2020-06-12 21:15] #32 closed

[2020-07-04 02:48] rayanth commented on #538
To be fair, the `COMPILING` file (in 6.18, released 5/3/2020) still references the old SourceForge site, too, at the bottom:

[code]

 Also, the "Moved to" URL ON the SourceForge site (at the top) is an invalid link, containing a comma instead of a period.

[2020-07-04 03:02] wyld-sw commented on #538
Thanks for the report. I’ve found a way to update the SF summary with a valid URL.

[2020-07-18 13:30] wyld-sw commented on #185
Closing for lack of activity.

[2020-07-18 13:30] #185 closed

[2020-07-18 13:40] wyld-sw commented on #376
Closing for inactivity.

[2020-07-18 13:40] #376 closed

[2020-07-19 22:40] wyld-sw opened #563 "Move away from using convenience globals in primitive logic."
All p_*.c files contain global variables at the top of the file, and are used frequently for convenience throughout each.  This is both not thread-safe and can make the code difficult to follow.

We should use local copies of the following variables in these files whenever possible. Other globals in these files should be reviewed, but these may be more straightforward to address:

[code]

[2020-07-19 23:01] wyld-sw opened #564 "Review error conditions for connection primitives"
Some connection primitives abort on invalid connection numbers, though descriptor primitives just return a failure value if the provided number doesn't correspond to anything.

For example,
- CONDBREF aborts, but DESCRDBREF returns NOTHING
- CONDESCR aborts, but DESCRCON returns 0
- DESCRLEASTIDLE and DESCRMOSTIDLE *would* abort on an invalid descriptor, but a logic error prevents it.
- DESCRFLUSH

[2020-07-19 23:02] wyld-sw opened #565 "NEXTDESCR skips descriptors on the welcome screen"
This primitive may be the only one that ignores descriptors that aren't fully connected. Is this expected?

[2020-07-19 23:05] wyld-sw opened #566 "Consider making descriptors and connection numbers synonymous"
DESRCON and CONDESCR would be no-ops. Look into this further to see if this is feasible.

[2020-07-26 21:52] wyld-sw opened #568 "Remove "legacy" property syncing"
Fairly early on in my current role, I added logic around synchronizing "legacy" properties: the value of the "/sex" prop would get synchronized with the current gender propname, and the value of the "~/isguest" prop would get synchronized with the GUEST flag on players.

This led to some interesting logic to prevent infinite loops, and possibly more confusion than necessary. I'm now thinking that

[2020-08-02 13:14] eigenfire commented on #543
Please include logic that rejects the new cert if there's something about it that's invalid, and continues to run with the old cert. This would be an easy way to crash your everything in a fat-finger event.

[2020-08-04 02:37] tanabi commented on #529
I have been super busy lately, but wanted to update this -- I have a docker-compose + Dockerfile that works.  However, doesn't support Let's Encrypt or the set up of an initial DB yet (though it will run an already installed MUCK in the docker container).  It's not a lot more work, I just have to sit down and do it, then we can have Docker builds, woo!

[2020-08-04 11:56] wyld-sw commented on #529
Very nice!

[2020-08-04 18:36] wyld-sw commented on #381
At this point, the plan is use Docker as the official package.

[2020-08-04 18:36] #381 closed

[2020-08-04 18:36] wyld-sw commented on #396
Added repo URL and feedback email to README.md

[2020-08-04 18:36] #396 closed

[2020-08-04 18:52] wyld-sw commented on #538
The 6.18 tarball now references github as the point of contact.

[2020-08-04 23:16] wyld-sw commented on #568
Removed (#571)

[2020-08-04 23:16] #568 closed

[2020-08-04 23:27] tanabi commented on #548
The closest I can find is prim_array_pin which actually sets the pinned bit.  I don't think there's a function that does this, so I'm just going to do some docu-copy-pasta and replace this.

[2020-08-04 23:32] tanabi commented on #79
@wyld-sw You seem to know a lot more about this issue than I do ... do you want to give it a whack or would you like to defer it to post 7.0?  This is the last straggler.

[2020-08-04 23:33] #548 closed

[2020-08-07 02:48] tanabi commented on #79
@wyld-sw I appreciate your leg work -- looks reasonable to me.  Let's move this off to 7.1 then and I think its safe to say we have a 7.0 release.

[2020-08-08 02:41] wyld-sw opened #573 "COPYOBJ considerations"
COPYOBJ completely clones the given thing.

Is it a concern that wizard props are cloned as well? If so, should this happen only if the program's effective MUCKER level is 4? (or in the case of the `@clone` command, only for wizards?)

The cloned object also shares the same timestamps and use count, but this may not have been intended. Should these have "new object" values?

A concern from sourcef

[2020-08-09 03:13] tanabi opened #574 "ACK! basedb no longer loads"
I was testing the Docker build and was finding fbmuck couldn't load the 'basedb' anymore.  It looks like its failing load on the header when I'm digging into strace ... however we don't have very good error reporting on load failures so I'm not sure how its failing.

advancedb still works.

Since basedb is the one we suggest people use in the README files, we should probably make sure it works.  O

[2020-08-09 03:20] tanabi commented on #529
Some notes to self:

* This now successfully intializes a new MUCK if there isn't an existing MUCK game directory.
* Ports and path are taken from environment correctly.

TODO:

* Document how this works
* Make a build process with Makefile
* Figure out how to push to Dockerhub
* Make SSL work with 3 options
  * Existing SSL files
  * Generate self-signed
  * Use Let's Encrypt -- I have been tryin

[2020-08-09 12:18] wyld-sw commented on #574
This was my fault. It's trying to load one more sysparm from the header than currently exists (the 158 in line 4 should be 157).

advancedb has many more programs, including enhanced versions of whisper, page, lib-editor, and gen-mesgboard. Those last two now support GUI operations as well. It also has Keeper.

basedb does have cmd-fetch, cmd-put, and con-census. That last one MIGHT be a companion

[2020-08-11 04:06] tanabi commented on #574
I would be cool with just using a starterdb ... I get why we have minimal.db, that makes a lot of sense to me, but I never really understood base vs. advanced ... why would you prefer base exactly?

I'd love community input on this but I doubt we'll get it.  It would certainly decrease our 'workload' and suceptability towards bugs to remove the extra DB ... and actually probably reduce user confus

[2020-09-01 02:11] twooeena opened #575 "Restarting advancedb throws all sorts of errors."
Hi! I'm very, very new to this, but please bear with me because I'm willing to learn.
So I've installed/built a MUCK server from advancedb.db. Running the server as-is (as reccomended in the READMEs) gives me a number of errors, all of which I don't know if the server can run properly through them. After running restart.exe, my command line displays these three errors:
`Object "quit(#139E)" has an

[2020-09-01 02:17] tanabi commented on #575
Hi there;

A surface look at this suggests maybe you're using a version of the MUCK that is older than the advanceDB can use?

First question, what operating system are you using?

Second question, did you compile from source or use some kind of pre-built binary?

[2020-09-01 02:44] wyld-sw commented on #575
I've added a link to Winfuzz 7 beta on fuzzball.org; hopefully it'll help. Please let us know if there are still problems with this version of the server.

[2020-09-01 23:15] twooeena commented on #575
I believe I'm using the prebuilt package from AppVeyor on Windows 10. I'll try compiling from the winfuzz 7 beta when I get home. Thanks for your help -.-

[2020-09-02 00:45] tanabi commented on #575
@twooeena We, admittedly, don't really support the Winfuzz version much because we haven't had a lot of demand for it lately.  If you're still having problems after building the latest one, we'll dig into it because there could be breakages we haven't noticed.

Its good to know someone out there actually uses it, been a lot of debate over dropping support for it altogether, and hearing folks use i

[2020-09-03 01:47] tanabi commented on #575
So I tried it out in a VM and the program simply doesn't work in Windows 10 for "compatibility reasons".  So there's something wrong with our build.

This is going to take some digging on our part to resolve.  None of us have a windows dev environment I don't think, so ... its not exactly a small effort to fix!  In the meantime, I can offer you a few alternative suggestions instead of doing a dual

[2020-09-03 04:55] twooeena commented on #575
Huh. For now, I think I'm going to set up a Linux virtual machine. I'm really trying to use this project as a learning experience. In the future though, when I'm ready to beta test, I would totally be interested in a MUCK hosting service.

[2020-09-03 21:52] twooeena commented on #575
Update: Installing a Linux VM worked like a charm and the compiling process seemed to go smoothly for the most part. However, after running `/usr/local/sbin/fb-restart`, I find that no bin folder/server executable has been created during the build process. Which step do I need to troubleshoot to fix this?
(Also if there's a better venue to ask these kinds of questions other than the Github issues

[2020-09-03 22:43] tanabi commented on #575
Did you do:

[code]
to install the binaries?  If it built, you should have an 'fbmuck' binary in the src directory.  make install should install them.  If not, I might have to do a screen share or something to see what's wrong. I've been doing this stuff for so long, it is really hard for me to remember the newbie pitfalls :)

Github issues are fine :)  Pretty much anyone who could answer your que

[2020-09-04 00:24] twooeena commented on #575
Yes, I did... Running that again and looking through the output gives me this.

	cd ${d} && make install; \
done
make[1]: Entering directory '/home/aglassman/fuzzball/src'
/usr/bin/install -c -d /usr/local/bin
/usr/bin/install -c -d /usr/local/sbin
/usr/bin/install -c fbmuck fb-resolver prochelp /usr/local/bin
/usr/bin/install -c -d /usr/local/share/doc/fbmuck
make help
make[2]: Entering directory

[2020-09-04 11:05] wyld-sw commented on #575
All I can think of right now is that there was an issue with the `—prefix` argument to `configure`. I’ll keep thinking, but congrats on getting it running!

[2020-09-05 01:36] twooeena commented on #575
Ah. The answer to that is "What prefix argument?" After a bit of reading into ./configure --help, everything has now been installed correctly. Thank you ^_^

[2020-09-05 01:36] #575 closed

[2020-09-07 14:34] tanabi opened #576 "Review Windows Support Documentation"
It's been determined that the windows binaries do, indeed, still work.  However, we should make sure our documentation is up to date.  Specifically we need to make sure the user has the VC redist installed for x86.

 https://support.microsoft.com/en-us/help/2977003/the-latest-supported-visual-c-downloads

It looks like the windows build lacks any top-level README file so perhaps we should put one

[2020-09-07 16:05] wyld-sw commented on #576
@foxbird Would you be able to determine what we've broken? We definitely appreciate the help.

[2020-09-08 03:40] digitalcircuit commented on #576
Though I'm fairly inexperienced when it comes to Windows, I'm willing to try to help with fixes with regards to the continuous integration setup.  @foxbird, if you've got a working way to build Fuzzball locally, I'm happy to try to correct the CI to match.

(I imagine a lot has changed in the past years.  The project I originally took inspiration from, Quassel IRC, has wound up migrating Windows b

[2020-09-08 15:10] foxbird commented on #576
TLDR; Everything works fine as expected. If there's a specific database being used, maybe there's a bug causing a crash. I'd be happy to look into that.

I took a look at appveyor and it says the latest build was successful with no issues. So, I thought perhaps that something strange was going on and grabbed the latest master and decided to build it. Here were the steps with the latest visual stud

[2020-09-08 15:18] tanabi commented on #576
@foxbird If it works and works in a documented way, I'm fine with keeping it around.  I just genuinely believed it was no longer working.  I'll review your notes here in more detail and try it again on my VM later.  My VM is a fresh Windows 10 install, up to date with patches.  Not sure why I got a hex code message and you didn't, but I didn't have openssl installed or VC redist so I'll go through

[2020-09-08 15:48] foxbird commented on #576
You will need the vcredist installed. That's a requirement. The openssl binary you don't need as appveyor has it already packaged with what was built (it happens that appveyor is using a `s` release and the windows binaries I linked to are for `u` release). It should be as simple as this:

1. Download the zip package from appveyor.
2. Extract it into say c:\game (or somewhere else without spaces)

[2020-09-08 22:19] tanabi commented on #576
@foxbird @wyld-sw The problem was the VC redist -- USUALLY I have gotten a friendly error suggesting that I install the visual C redist, but I think the fact that I'm running a 64 bit OS and trying to load a 32 bit binary perhaps means it isn't detecting correctly.

No matter, when I installed the x86 vc redist the MUCK sprung to life.  So that was the problem.  I think we need to review our windo

[2020-09-10 16:56] wyld-sw opened #577 "Release FB7"
Long time coming, for sure. I'm got a few tasks that I need to complete before this can happen:
- compile release notes from fb7a1-current into a "brief' overview.
- introduce starterdb, a version of advancedb that is upgraded for FB7 and removes a few things that were inactive or broken. basedb and advancedb would then be retired. (#574)
- ~default the registration sysparm to no~.

Please let me

[2020-09-10 21:04] tanabi commented on #577
Hi guys;

If nobody else is willing / able to update the windows documentation, I can give it a shot.  In particular I'd really like to see a README come through on the appveyer build that has the instructions around the VC Redist.

I disagree with default registration sysparm to no :)  I believe that's inviting a security hole that newbies will not understand.  I'm not sure why you want to do it

[2020-09-10 21:24] wyld-sw commented on #577
My mistake. I don't know what I was thinking, but yes - allowing folks to "create" out of the gate is a Bad Idea. I may have got it confused with just changing register_mesg based on the results of a "game setup" tool. I definitely got muddled there. Anyway, that's definitely not part of the list - sorry for the confusion.

[2020-09-10 21:26] tanabi commented on #577
No worries!  Yeah, register_mesg needs to not refer to Tygriss MUCK at least -- as many references to specific MUCKs we can remove as possible, I think, is a good thing especially since so many of them no longer exist :/  But I'm gald we're on the same page with registration! :D

[2020-09-13 01:34] digitalcircuit commented on #577
@wyld-sw For now, all that comes to mind is including a suitable `README.txt` in the Windows build artifacts as @tanabi suggests.  I'll work on that tonight (EDT).

Last I recall, switching to a 64-bit build would require finding a 64-bit version of `pcre.lib` - perhaps that's feasible by now?  A lot has changed [since my attempt in 2016](https://github.com/digitalcircuit/fuzzball/commits/ft-updat

[2020-09-13 02:18] foxbird commented on #577
I'm figuring that the windows readme can be as simple as:

1. Unzip to a folder of your choosing that has no spaces in it.
2. Install the x86 VC redist for visual studio 2019 (yes, even if you are running 64 bit windows) [use link I provided before]
3. Install your database and support files into the data directory.
4. Run `fbmuck` as you normally would (see linux documentation) to start the serve

[2020-09-13 02:26] digitalcircuit commented on #577
@foxbird Would you prefer I wait for you to put together a proper compiling/running set of documents, or do you think it's still useful to have a simple `README` text file that can be replaced/removed in a later pull request as needed?

And, pardon, I didn't mean to step on any toes.  I wasn't sure of the timeline here, and I probably overreacted.

[2020-09-13 02:36] foxbird commented on #577
No toe stepping has occurred! I don't know what date we're trying to hit. And honestly, the `README_WINDOWS.md` file is probably plenty. Maybe just move the "quick start" section to the top instead of the bottom, and it's probably all good. Then you can just change the appveyor build to also pull that README_WINDOWS.md into the build/game directory where it creates its artifacts. That readme is al

[2020-09-13 07:09] digitalcircuit commented on #577
Phew, I'm glad to hear that.  And thank you!  In [the open AppVeyor Windows CI pull request](https://github.com/fuzzball-muck/fuzzball/pull/578 ), I've moved the "Quick start" section up, and added a step to render the Markdown to HTML too (`.md.htm`), not just plain text with Windows line endings (`.md.txt`).

We definitely can still update the actual documentation in the Markdown files, too - it

[2020-09-13 13:04] wyld-sw commented on #577
Thanks guys! There’s not a hard date we’re trying to hit; it’s just a sense of needing both a non-beta release and a roadmap before too long.

[2020-09-13 16:20] tanabi commented on #576
@digitalcircuit 's commit resolves this issue I believe.

[2020-09-13 16:20] #576 closed

[2020-09-14 03:16] bjbdragon opened #579 "FTBFS with Diskbase"
I get the following error when compiling. I've defined DISKBASE because I'm planning on running on a Raspberry Pi.
/home/tom/src/fuzzball/src/p_db.c:4402: undefined reference to `global_dumper_pid'

It looks like it needs some ifndef guards there because global_dumper_pid isn't defined.

[2020-09-14 03:48] tanabi commented on #579
@bjbdragon We'll take a look at this bug, but you don't need diskbase to run on a Pi.  I can tell from direct experience that a stock build of fuzzball will work fine with a Pi, even if you're running a few other things like a webserver and a DB.

[2020-09-14 04:06] tanabi commented on #579
@bjbdragon This was an easy one so I went ahead and pushed up a fix.  The latest master should compile with diskbase.

I'd warn you that nobody really uses diskbase anymore, that's ~so~ early 90s, so I wouldn't be surprised if there were other breakages in it.  So buyer beware :)  Consider just running a normal build and see if it works for you before diving into diskbase.  You can always change i

[2020-09-14 04:06] #579 closed

[2020-10-09 14:20] dinoex commented on #543
Working patch for fbmuck-6.18 as sample:

[interface.c.patch.txt](https://github.com/fuzzball-muck/fuzzball/files/5355508/interface.c.patch.txt)

[2020-10-14 14:32] tanabi commented on #543
This looks like it probably works.  Sorry for sitting on this so long @dinoex !  I'll try to get this merged in soon.

[2020-11-05 04:12] tanabi commented on #543
I have patched this in and updated it to the FB7 coding standards.  I haven't thoroughly tested it yet, so no merge yet, but this is almost done.  Sorry for the long wait.

[2020-12-06 18:54] tanabi commented on #543
This is done, pending code review.  Please note I added a tune param that defaults to false called auto_reload_certs ... it has to be set to true to enable this behavior.

[2020-12-06 18:54] tanabi commented on #543
I think I should probably rename it to ssl_auto_reload_certs to be more in line with coding standards, I will do that ....

[2020-12-06 22:20] #543 closed

[2020-12-14 01:26] wyld-sw commented on #498
As there's just minimal and starterdb, I just updated the default welcome screen in data/welcome.txt

[2020-12-14 01:26] #498 closed

[2020-12-14 01:27] wyld-sw commented on #574
starterdb now has replaced advancedb - and basedb has been archived.

[2020-12-14 01:27] #574 closed

[2021-01-06 02:26] tanabi commented on #577
@wyld-sw I think this is done right?  Time to close this one.  I'm starting to look at 7.1 issues to start in on myself.

[2021-01-06 02:26] tanabi opened #584 "STYLE.md"
The purpose of this ticket is to write the coding style documentation.  Since I did all the formatting of the code base in its current incarnation, it only makes sense for me to write this. :)

[2021-01-06 02:29] tanabi commented on #79
Assigning this to you @wyld-sw ... :)  If for some reason it isn't something you feel up to doing, let me know, but I feel like you have a way better handle on this one than I do.

[2021-01-06 02:35] tanabi commented on #518
Here's a few thoughts.  I think the help files are parsed into HTML as well ... should we have the server just read the HTML files?  We can then just keep the help files in HTML and maintain them in that format.

We could do multiple files, but that's going to be a lot of freakin' files.  I'm not as much in favor of that.  I could be misremembering news/info because their use seems relatively unpo

[2021-01-06 02:36] tanabi commented on #542
I suppose I'll look into this one :)

[2021-01-06 02:43] tanabi opened #585 "For 'reycle' message (and others) put the #dbref"
This is a sourceforge issue.  NOTE: the scope of this may not include MUFs (as suggested in the original issue).  I will see how much work it is to do the MUFs as well.  I am also tempted to put a tune parmaeter for this so admins can toggle it off if they have some reason to do so, but I think that could be a lot of extra branching for an edge case?  Maybe something to determine when digging into

[2021-01-06 02:49] #577 closed

[2021-01-06 02:49] tanabi commented on #573
Thoughts:

- Wizard props should only be cloned if the program is M4 / Wizbit
- They should have new timestamps and use count
- COPYOBJ should be the same MUCKER level as making an object (newroom, etc.) which is MUCKER3
-

[2021-01-06 02:50] tanabi commented on #472
This is my albatross to deal with so I assigned it to me.

[2021-01-06 03:05] wyld-sw commented on #518
We process the *.raw files for help/muf/mpi into txt and html formats. news/info consists of main text file and a directory of subcategory files.

I think a common technique to be used by all of these would be great.

[2021-01-06 03:29] tanabi commented on #518
I think I favor either just processing the HTML in a very basic way on the server side -- not full HTML support but just the basics for the format currently used -- or the YAML file format.  The latter would require a library, the former we can probably do ourselves without too much trouble.

[2021-01-06 15:14] wyld-sw commented on #585
Would it make sense to introduce a function that returns either an object's name or its unparsed name depending on the tune? And then use that for these messages?

[2021-01-06 15:15] wyld-sw commented on #585
Would the tune default to yes? We have a mix right now (I think) of showing the dbref and not, so I'm not sure.

[2021-01-06 15:48] tanabi commented on #585
Yeah, tune default to yes.  If you want to do it that way, mind.  I'm kinda iffy on if it is necessary?  I mean ... most MUCKs have custom MUFs for most of these functions so I'm not sure its really necessary to go to the effort to make the tunes.  They can always just alter their own functions.

For the huh? message, we may want to allow the %s substitution in it to indicate where the command is,

[2021-01-12 04:26] tanabi commented on #584
Almost done with this.  There's a surprising lot to it :P

[2021-01-14 04:30] tanabi commented on #584
First draft written.

[2021-01-15 03:18] wyld-sw commented on #584
Very nice! I especially like the part about threading. I'll merge this in as a first draft, and I'm sure we can chip away at it over the next few months. I can't find much to change about it at this point.

[2021-01-15 03:19] wyld-sw commented on #584
Re-opened in case we want to track changes. Feel free to close if you want, though!

[2021-01-15 04:10] tanabi commented on #584
Nah we can close it, I like seeing the milestone move :)

[2021-01-15 04:10] #584 closed

[2021-01-17 00:14] wyld-sw commented on #573
These prims are available below M3, but only allow creating one object per program run. Is that still OK?

[2021-01-17 04:50] tanabi commented on #573
Yeah, I think the rules should match :)  You're right, there's that nuance that I forgot about.  I'd be fine with copyobj behaving identically.

[2021-01-18 03:38] tanabi commented on #529
I've made the makefile process.  Now sifting through how to do the SSL portion.

[2021-01-18 03:48] tanabi commented on #529
I'm making the decision to not directly support Let's Encrypt.  I will, however, indirectly support it and provide some helpful documentation.

The problem is, Let's Encrypt requires either (a) a web port be open and accessible to the internet or (b) some DNS stuff.  (a) is prohibitive to do in a docker container for a number of reasons and (b) is simply not possible to do since every DNS provider

[2021-01-18 04:41] tanabi commented on #529
I did all the scripting here, just have to test it and document it.  I think the way I did it is slightly suboptimal but it leaves the door open for several different approaches to certs -- I'll have all those approaches documented -- so it should be okay.  We can always refine the process as we go forward and see what people actually use here.

Once I test and document, the last step is figuring

[2021-01-22 05:54] starafar opened #587 ""Program not compilable" error lacks useful detail"
`"Program not compilable. Cannot run."`

This error message does not indicate which program failed to compile or why. In this instance, it's also failing to write the relevant details to the `muf-errors` log. As a result, we have an issue on SPR where everyone logging in gets the above error message, with no clue as to why.

[2021-01-22 11:48] wyld-sw commented on #587
I think adding more detail to that message is a good idea. I believe muf-errors only stores runtime errors currently. I’d recommend looking through the main _connect queue and trying to compile each of those programs to see where the issue lies. I can be on hand at SPR shortly. If it’s a problem with FB7, wel’ll fix it.

[2021-01-22 12:13] wyld-sw commented on #587
Just was on SPR and it may look like it has been resolved. If it is something that we should fix on the server side, please let us know.

Keeping this issue open so we can improve that message and consider writing compilation errors to that log.

[2021-01-22 13:10] f0x1de commented on #587
Thanks again, @wyld-sw.

[2021-01-22 14:53] f0x1de opened #588 "Log failed login attempts"
Could we add a (possibly configurable) feature to log failed logins? Valuable data would include:

1. Date/Time
2. Connection source IP (and reverse DNS if enabled) and TLS yes/no
3. Username attempted

[2021-01-22 15:03] wyld-sw commented on #588
Sorry, hit a button by accident. Re-opened, and a good idea!

[2021-01-22 15:52] tanabi commented on #587
Yeah, that is a really weird message to get -- I remember when I was new to FB I found it awful confusing until I figured out you could compile the program manually and see what error it was throwing.  When it happens in a propqueue it is super annoying to track down.

[2021-01-22 16:03] tanabi commented on #588
This should be easy, and I'm kind of surprised it doesn't already do this, but I admit I rarely look at the server logs.

[2021-01-22 16:04] tanabi commented on #588
As an added note, I don't see a particular reason to make this configurable, I think it is very reasonable for this to just always get logged.  Really why wouldn't you want this?

[2021-01-22 16:05] f0x1de commented on #588
Some people don't want their stuff to change, I dunno!

[2021-01-22 16:07] tanabi commented on #588
@wyld-sw Propose we put this in 7.1 since it really should be about 5 minutes to add.

[2021-01-22 16:09] tanabi commented on #587
@wyld-sw Propose we put this in 7.2 (unless @f0x1de has an immediate need, in which case we can tackle it sooner).  My finger in the wind on this one is that it will be easy-ish ... the code around where this happens is somewhat tricky as I recall and not quite a "sneak it in" kind of issue.  Though if SPR needs it ASAP then that makes it a higher priority.

[2021-01-22 16:11] f0x1de commented on #587
No complaints here.

[2021-01-22 16:14] wyld-sw commented on #588
Agreed!

[2021-01-22 16:16] wyld-sw commented on #587
Not here either.

[2021-01-24 20:02] wyld-sw opened #589 "WHO/QUIT during MUF READ"
I'm honestly not sure if this is something that people rely on. To me, it's confusing at best and prevents certain input at worst.

It seems when a READ result includes WHO or QUIT, the command is executed and the program goes back to a READ state. I understand QUIT a bit more than WHO, but they both might be an artifact of command processing. WHO during READ is just weird, in my opinion.

This is

[2021-01-25 16:07] tanabi commented on #589
So various feedback.

I have no idea the logic behind 'WHO' being a magic keyword.  Intercepted keyword?  Whatever.  That makes no sense to me, I'd say definitely kill that.

'QUIT' is probably the way newbies exit MUF programs when they don't know about ```@Q```.  I know the Q command isn't something I learned about until way, way late in the game so I've QUIT out of things in the past.  Perhaps

[2021-01-26 20:08] wyld-sw commented on #589
Ok, so to summarize:
- Keep allowing `@Q`, `@@` (if enabled), and `QUIT` in MUF READs, but stop recognizing `WHO` in that context.
- Keep allowing `."` and `.:` in cmd-lsedit, but stop with the <In the editor> shenanigans.

Did I get that right?

Wrangling the WHO/!WHO portion of do_command into something readable has been on my list for quite some time, so I may try to tackle that too.

[2021-01-26 21:15] tanabi commented on #589
Yep!  That's my opinion anyway :)

[2021-01-27 03:41] tanabi commented on #529
Hrm, I have found a weakness in my dockerfile, but I think I will deal with it later.

The OS version of the docker base container in the Dockerfile has to match the version of the machine doing the compile.  If they don't match, you get a glibc error.

I can fix that later though, I'll make an improvement ticket.  For v1.0 this is an acceptable limitation I think.

[2021-01-27 04:22] tanabi commented on #529
Testing is done.  I will make some documentation, then figure out the build/push to dockerhub.  Arg this has taken a long time :)

[2021-01-27 04:28] tanabi opened #590 "Docker Build Independent of Machine OS Version"
Okay so right now I am doing the MUCK compile outside of docker then copying the compiled binary into the dockerfile.  This makes the docker build more simple and faster, but it means the docker FROM statement's operating system has to match the builder or the library versions won't match up.

It is probably better to 'suck it up' and build the binary inside the container.  It means we have to ins

[2021-01-27 12:13] wyld-sw commented on #590
Agreed. This is some great work, and we can refine it later.

[2021-01-27 20:15] wyld-sw commented on #588
There does seem to be a FAILED CONNECT message in `logs/status` that mentions the username and the descriptor number. Assuming I didn't misread that, should we put IP/DNS/TLS in both this and the FAILED CREATE messages?

[2021-01-27 20:16] f0x1de commented on #588
That would be perfect.

From: wyld-sw <notifications@github.com>
Sent: Wednesday, January 27, 2021 3:16 PM
To: fuzzball-muck/fuzzball <fuzzball@noreply.github.com>
Cc: Justin Coffman <jcoffman@foxide.io>; Author <author@noreply.github.com>
Subject: Re: [fuzzball-muck/fuzzball] Log failed login attempts (#588)

There does seem to be a FAILED CONNECT message in logs/status that mentions the username

[2021-01-29 06:24] tanabi commented on #529
I wrote all the documentation -- I need to test my documentation (make sure all the commands and examples work) then I have something that can be checked in.

There's still the matter of hte build to get it into docker hub -- I have wheels in motion with Wyld to get that set up

[2021-01-31 01:36] wyld-sw commented on #589
Well, crap. I switched machines recently to one without a separate remote for my fork, and committed directly. Fixing it now.

The commit is 014ad571c861c9e991a2c0fd15b2b4431e75653f.

I left do_command alone for now; I feel it's a rabbit hole I don't want to go down yet, because I know I'll want to rewrite many out-of-scope things.

If the above commit is approved, I'll make the change to lib-edit

[2021-01-31 05:00] tanabi commented on #589
@wyld-sw This looks good to me!

I will try to have Docker squared away this weekend in an unrelated topic.

[2021-02-01 00:35] wyld-sw commented on #589
More WHO shenanigans! I discovered that WHO on the welcome screen now crashes the server (but not in my dev environment?!), so I took the opportunity to slightly refactor. Now,

- !WHO is no longer translated as "@WHO O" when the action exists.
- !WHO is no longer recognized on the welcome screen (it was the same as WHO).

Oddly, !WHO = WHO for non-wizards (unless I'm wyldly mistaken), so I have a

[2021-02-01 20:50] f0x1de opened #592 "fbmuck segfaulting on character login"
Tested on SPR and my own test MUCK.

No available log data aside from the systemd unit log.

[code]

[2021-02-01 20:51] tanabi commented on #592
@wyld-sw If your PR fixes this, go ahead and merge it -- i have been crazy crazy crazy today and I won't get to look at this until ... maybe not even until tomorrow.

[2021-02-01 20:53] wyld-sw commented on #592
Yikes. My PR fixed a segfault with WHO on the login screen. I'll try to replicate it!

[2021-02-01 21:08] tanabi commented on #592
Yeah, please feel free to merge whatever you need to in order to get SPR unblocked.  If you don't have it figured out in about 4-ish hours I'll take a whack at it :)

[2021-02-01 21:12] wyld-sw commented on #592
It does make sense that the segfaults are related. Just really weird it didn't happen in my dev environment.

@f0x1de Please try with the latest code, and sorry for the trouble!

[2021-02-01 21:24] f0x1de commented on #592
I should have clarified that I always test SPR stuff on a test replica first, so SPR is just fine. :) Sorry for freaking you out!

[2021-02-01 22:03] tanabi commented on #592
@f0x1de yeah I was pretty sure you were doing it on a test instance.  Still, SPR is our 'biggest customer' in terms of FB 7 so we try to take care of you quick as we can when you get issues :)  Though TBH any time a MUCK owner using FB 7 comes out of the wood work with a problem we try to jump pretty quick so anyone out there running smaller MUCKs reading this -- we love you too and file your bugs

[2021-02-02 00:31] f0x1de commented on #592
Seems good now!

[2021-02-02 00:33] wyld-sw commented on #592
Awesome, thanks for your help!

[2021-02-02 00:33] #592 closed

[2021-02-08 03:17] tanabi commented on #529
My instructions check out.  Looking into getting it into dockerhub now but I went ahead nd put in a PR for it.  Don't close this ticket until it is in docker hub though

[2021-02-08 03:31] tanabi commented on #529
We are live on dockerhub!  https://hub.docker.com/r/fbmuck/fbmuck

Safe to close this ticket after merge.

[2021-02-08 03:36] tanabi commented on #590
I should also automate the docker build as part of this -- right now it will only push to dockerhub when I do it manually.

[2021-02-08 20:36] #529 closed

[2021-02-11 04:51] tanabi commented on #542
This artifact is now part of the appveyor build.

[2021-02-14 23:14] #542 closed

[2021-02-14 23:19] tanabi commented on #585
I'm not going to make a tune parameter for this, I don't think it is necessary.  I will, however, consider altering the MUFs if it looks reasonable to do so.  There's a lot of ground to cover on this issue so the MUFs may need to get split off into their own thing.

[2021-02-14 23:26] tanabi commented on #585
This seems like it is largely already done in the C code -- it could be the bulk of these changes needs to be done in the MUF after all.  Going to keep digging to be sure though.

[2021-02-14 23:29] tanabi commented on #585
Okay, there's definitely some work to do here, it's kind of a patchwork and there's a good bit of edge cases not covered.  Anyway, i'll stop spamming these comments and actually get to it :D

[2021-02-14 23:48] #589 closed

[2021-02-15 01:20] wyld-sw commented on #588
Before I commit this, I want to make sure these messages will work for you.

Here are the possibilities for the messages. IP address is replaced by hostname when available.
[code]

[2021-02-15 01:22] f0x1de commented on #588
Looks great to me!

From: wyld-sw <notifications@github.com>
Sent: Sunday, February 14, 2021 8:21 PM
To: fuzzball-muck/fuzzball <fuzzball@noreply.github.com>
Cc: Justin Coffman <jcoffman@foxide.io>; Author <author@noreply.github.com>
Subject: Re: [fuzzball-muck/fuzzball] Log failed login attempts (#588)

Before I commit this, I want to make sure these messages will work for you.

Here are the poss

[2021-02-15 01:26] wyld-sw commented on #588
Pull request at #595.

[2021-02-15 03:06] #588 closed

[2021-02-15 04:05] tanabi commented on #585
Note to self: check register_object to make sure that has proper messaging.

[2021-02-15 05:10] tanabi commented on #585
noisy_match_result should also be checked, I think a lot of these crappy messages come from there.

[2021-02-15 06:02] tanabi commented on #585
I've worked my way through create.c which I think is the majority of this.

[2021-02-20 23:21] wyld-sw commented on #573
Ok, so I had this thought that prim_copyobj should work similarly to do_clone. I'd like to see if I can use the same function for both. Here is where they seem to differ, though:

| Logic | `@clone` | COPYOBJ |
| --- | --- | --- |
| value of the new thing | MIN(old thing's value, tp_max_object_endowment) | old thing's value if M3+, otherwise 0 |
| home of the new thing | player's location if contr

[2021-02-21 14:06] wyld-sw commented on #573
Going with `@clone` logic for the time being. But let me know if it needs to be changed.

[2021-02-21 17:52] wyld-sw commented on #573
Please check out the new pull request #596.

I don't think it breaks anything! Huzzah!

`@clone` and COPYOBJ should now use the same logic in the actual clone. This means:
- COPYOBJ creates an object with new timestamps, homes it to the player's location or player, and caps its value to tp_max_object_endowment.
- `@clone` creates an object with all flags copied, and interacts with DISKBASE.
- both

[2021-02-22 15:14] tanabi commented on #573
Your logic selection makes sense to me.  I'll check out your PR in a moment.

[2021-02-22 15:21] tanabi commented on #573
Well done!

[2021-02-22 15:21] #573 closed

[2021-03-03 19:00] tanabi opened #597 "muck.fuzzball.org cert"
I got a notification that this cert is going to expire in 30 days.  This is the cert the test MUCK uses.

I'm inclined to switch this to a self-signed cert with an expiration of like 20 years just to never have to think about it again :)  My MUCK client actually isn't smart enough to check validity of the cert so to me it wouldn't matter.  I'm pretty sure we bought a real cert because certain form

[2021-03-03 19:03] wyld-sw commented on #597
Maybe make it a self-signed cert until we need it to be more?

I'd eventually like to see the test MUCK used more, but I'm not sure how we could back that into our process. Something to think about, eventually.

[2021-03-03 19:05] tanabi commented on #597
@wyld-sw Yeah it would be cool to make it run automated tests, which should be pretty doable with the setup I have built that rebuilds it. It actually wouldn't be that hard.

Anyway, I'll switch it to a self signed cert and we can worry about it more later :)

[2021-03-15 12:10] conwsh commented on #597
I actually have a script set up for SPR that uses LetsEncrypt and auto-cycles the cert every 90 days.

I think I was bored that day...

[2021-03-15 12:15] conwsh opened #598 "Can't set fail message on exit?"
I have an exit owned by a holding wizard. I have this exit locked against a no-guest MUF program. The exit is linked to another program, and attached to #0 for a global command. I can do ANYTHING to this exit object I want, except for setting a fail message.

[code]

What am I missing, here?!

[2021-03-15 12:16] conwsh commented on #598
And now it works. Neeeeeever mind...

[2021-03-15 12:16] #598 closed

[2021-03-21 19:54] TogarUshindi opened #599 "Is Unix Download Instruction in Recursive Loop?"
README.md instructs:

but Fuzzball.org instructs:

[2021-03-22 03:18] TogarUshindi commented on #587
I'm receiving this message for every program I try to run on the newly compiled test MUCK I just made. Many of the programs are giving me this error, among them include: `WHO`, `3who`, `laston`, `ansi`, `meetme`, `cp`, `lsedit`, 'watchfor`, `@shout`, `@exits`, `@stats`, `@view`, `page`, `pose`, `say`, `whereare`, etc.

[2021-03-22 03:24] wyld-sw commented on #587
You might not have the actual MUF files installed in the right location. The files in dbs/starterdb/muf/ should also be copied to the installation’s game/muf .

This might be something to clarify in the documentation.

[2021-03-22 03:53] TogarUshindi commented on #587
Hmm.. okay, I did that, the files are there.
[code]
Then I hit `@restart` in-world, then `$ sudo /usr/local/sbin/fb-restart` in SSH, got the server running, but still cannot run the programs.

[2021-03-22 08:38] TogarUshindi commented on #587
Something I noticed while examining one of the broken commands:
[code]
Notice it says "Program not compiled"?

[2021-03-22 11:22] wyld-sw commented on #587
Hmm, for that to happen for all of the files makes me think they're still not in the right place. You could check by using `@edit #101` and checking if a command to list lines (`1 99 l`) shows anything.

After exiting the editor with `q` and completely shutting down the MUCK, could you try copying that MUCK folder to `/usr/local/game/muf` and seeing if that helps?

[2021-03-22 14:51] tanabi commented on #587
@TogarUshindi just FYI -- the MUCK "just in time" compiles programs so it is normal for them to say Program not compiled.  Fuzzball doesn't save "binaries", it just saves the program code, so the program is compiled on the fly the first time it is run and it is kept compiled in memory for awhile.

But Wyld is probably right, this looks like a path problem.  If you can't figure it out on your own,

[2021-03-22 16:23] TogarUshindi commented on #587
[code]
I copied the `~/fuzzball/game/muf` files to `/usr/local/game/muf/` and the programs are working now. The editor still says `Line not available for display.` though.

Question: What are the contents of `~/fuzzball/*` for and what are the `/usr/local/*` contents for? If the program was compiled and installed as super-user, wouldn't/shouldn't all contents be installed to and be called from the

[2021-03-22 16:25] TogarUshindi commented on #587
Wyld was mentioning he was interested in making a Discord Server for muckymuck stuff, so I'd love to tallk to you all there whenever that gets running!

[2021-03-22 16:32] wyld-sw commented on #587
That's good to hear.

It does appear that the editor still says "Line not available for display." when you first open a program for editing - somewhere along the way this broke, so I think this is a good candidate for a bug fix!

The fuzzball distribution does come with the starterdb, but it does need to be copied to the /usr/local/game location (or a prefix you set) to be used. Both the source fi

[2021-03-22 16:35] TogarUshindi commented on #587
Matrix! One protocol to link them all...

[2021-03-22 16:43] conws commented on #587
#fbmuck on freenode

Sent from my iPhone

On Mar 22, 2021, at 12:35 PM, Togar Ushindi ***@***.***> wrote:

﻿

Matrix! One protocol to link them all...

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub<https://github.com/fuzzball-muck/fuzzball/issues/587#issuecomment-804212397>, or unsubscribe<https://github.com/notifications/unsubscribe-auth/ARBI

[2021-03-22 19:32] conws commented on #587
I could register it on furnet instead, if that's preferred. I'm fine with either.

[2021-04-11 17:18] TogarUshindi opened #600 "How to Install MUF Programs into FB7?"
This feels like a silly question because I thought it was practically a drag-n-drop solution in the past, but...

How do we take MUF programs from places like mufarchive.com and get them to work in FB7?

Are any of the ancient help docs applicable and on point for FB7? They all seem to discuss programming MUF, not installing existing MUF programs.

I noticed that those in `/usr/local/game/muf` are

[2021-04-11 17:33] wyld-sw commented on #600
I'm hoping that a lot of the MUFs from MUF archive are available in the fuzzball=muf repository on this account, but please let us know if there are any gaps you'd like to see filled.

The `.m` extension has been for MUF programs for as long as I can remember, at least on the server side. I've seen names of the actual MUF object have a `.muf` extension and/or a `cmd-` prefix.

The repository I men

[2021-04-11 17:41] TogarUshindi commented on #600
*coughs* `wixxx.muf` is an important one... *coughs* Especially for "filling gaps..."

In all seriousness, there are a couple others I'm discovering on MUF Archive's site, too. Some look interesting that I would like to try out.

Ah! So, `*.muf` is more of a script than a "real" program?

Does this mean that they should be installed at lower Mucker levels? Perhaps that's why I never noticed the `.

[2021-04-11 17:45] wyld-sw commented on #600
`*.muf` scripts contain the program, but also any commands that need to surround it in order to "install" it, for lack of a better word.

Pasted directly into the client works for many programs. Depending on the length of the program and the underlying speed of the server it may not be able to "keep up", hence the other options.

[2021-04-11 17:52] TogarUshindi commented on #600
Dependencies, in other words?

If I attempt to paste the MUF code into an in-game item, will it inform me if there are any missing dependencies?

[2021-04-11 17:56] wyld-sw commented on #600
Most of the time these commands include `@program`, `@propset`. `@set`, and `@action` steps, things that you would normally do if you're building it manually.

Dependencies usually come in with the program itself, if it tries to `$include` another program you don't yet have registered, for example. Each line of this script - including the program compilation process - should generate output in you

[2021-04-11 20:41] TogarUshindi commented on #600
Trying to copy/paste a muf into a script using `@program` and it's saying:
[code]
So if I can't just copy/paste all lines of the program, what does it want me to do? Copy them one line after the other? Eww.

Searching around the ancient docs for a solution, and I ran across a page on "[Porting Globals.](https://fuzzball-muck.github.io/muckman/portglobals.html)" Not sure if that applies.

But the o

[2021-04-11 20:47] wyld-sw commented on #600
fbmuf is an alternate name for the group of MUFs in the fuzzball-muf repo. If it's in the documentation we provide, we can modify the steps.

I think that Warning message may have been generated by your client. Could there be a way to suppress that?

Maybe a valid option at this point is to do it in parallel using the *.muf script:
- copy in the lines up to and including the @program line.
- skip

[2021-04-11 20:52] TogarUshindi commented on #600
I'm in-game using the `@program` command, because it's my understanding that in order to script something and make it a program, that's the command to use. I've never used it and don't know if there's another way.

Sorry, what's the *.muf script? Is that something included with fuzzball?

[2021-04-11 23:14] wyld-sw commented on #600
It looks like we were able to solve this in another setting. Feel free to re-open or create another issue if you have additional questions!

[2021-04-11 23:14] #600 closed

[2021-04-12 05:05] TogarUshindi opened #601 "morph-hammer.muf including ... something."
After retrieving morph-hammer.muf from [mufarchive](https://www.mufarchive.com/programs/morph-hammer/83.html), and attempting to compile:
[code]
Line 21 is: `$include #7897`

What's #7897? :)

It was made by Triggur, so I thought perhaps it's pointing to an item on FurryMUCK:
[code]
Is it pointing to a garbage file perhaps? Or a dbref from another muck?

The source said it came from FBMuf Github s

[2021-04-12 11:29] wyld-sw commented on #601
That's a really good guess, that it's pointing to an item on another MUCK. FM, however, has garbage for that dbref as well.

In this version of that program, there are comments saying that the dbref should point to the "cmd-mv-cp" program, which I believe is dbref 60 in starterdb.

"FBMuf Github" may have just been a group of programs that were uploaded once; I remember trying to reach out to MUF

[2021-04-12 12:26] wyld-sw commented on #599
Thanks for the report. We're always trying to improve the documentation. This one's tricky - since we may not always be relying on GitHub (though while we are for the foreseeable future, the website does point there).

[2021-04-12 12:26] #599 closed

[2021-04-12 13:32] TogarUshindi commented on #601
Ah! You misunderstand! That's where I got that dbref from.

Perhaps I should try changing it to `$include #60` ?

[2021-04-12 13:41] wyld-sw commented on #601
Confirmed that #7897 is garbage on FM. It might have been an older copy of the prop cp/mv program.

[2021-04-12 13:47] TogarUshindi commented on #601
Ugh, now it's:
[code]
Line 22 is `$include $lib/lmgr`
I tried changing it to `$include $lib-lmgr` (dbref #4) and it's still confused.

I hope this doesn't have to do with earlier when I confused line 21 with 22 and installed MUF archive version's lib-lmgr. I used the script which includes all those `@set` commands at the end. Afterward (when it still erred on line 21) I `@rec'ed` the duplicate `li

[2021-04-12 13:52] TogarUshindi commented on #601
Just tried doing those `@set` commands at the end of the muf script to see what would happen now.
[code]

[2021-04-12 13:54] wyld-sw commented on #601
Hmm. Starterdb should definitely recognize $lib/lmgr. lib-lmgr would probably not work unless you were in the same area as the program (Keeper's inventory?)

What do you see when you type `@reg lib` ?

[2021-04-12 13:56] TogarUshindi commented on #601
[code]

Uh-oh! Hah! Okay, so yeah.. looks like it's pointing to my old, recyled duplicate. I just need to re-register it to #4... somehow...

(That's your cue, please. :) Sorry about this!)

[2021-04-12 13:57] wyld-sw commented on #601
`@register lib-lmgr=lib/lmgr` SHOULD do it.

[2021-04-12 13:57] wyld-sw commented on #601
and if it can't find it, `@register #4=lib/lmgr`

[2021-04-12 14:00] wyld-sw commented on #601
If #4 (the original one) is garbage, then please use your new one.

[2021-04-12 14:00] TogarUshindi commented on #601
`I don't understand 'lib-lmgr'.`

Same as-- ahhah! Okay. was wondering if I should try that. It's not a global, so maybe just couldn't find it. That makes me think that Triggur's script assumes/requires you to be in the same room as the item.

[code]
That seems to have done it.

Now, do I need to run all the following `@set` commands [listed at the end of the script](https://www.mufarchive.com/pro

[2021-04-12 14:03] TogarUshindi commented on #601
(Judging that the compile still didn't work for line 22 I'm going to guess yes, or some variant)

[2021-04-12 14:05] TogarUshindi commented on #601
Looks liked it worked! Dealing with `.pmatch` compiler issues now, but lib-lmgr is back in the game!

I am 1337 haxxor man. 8)

[2021-04-12 14:13] TogarUshindi commented on #601
From http://captainpackrat.com/furry/globals.txt ...
[code]

[2021-04-12 14:15] wyld-sw commented on #601
I'm seeing mv-prop as a word in #60. Hmm.

[2021-04-12 14:19] TogarUshindi commented on #601
Wow, these old programs sure are interconnected, aren't they?

[2021-04-12 14:33] tanabi commented on #601
I just want to throw out ther that Triggur MUFs are notoriously hideous :)  I want to stress that it isn't his fault, mind, he wrote these things in a way way older version of fuzzball.  But, it's a little like trying to get a 286 program to work on a Windows 10 machine without an emulator now.

You're better off using another morpher if you can get away with it.  I wrote one years ago but sadly d

[2021-04-12 14:34] TogarUshindi commented on #601
Greetings @tanabi !

Is there one?

[2021-04-12 14:38] tanabi commented on #601
There's several!  Jessy's got one.  Granted, it is a very confusing one :)

http://www.rdwarf.com/users/mink/downloads/desctools.muf.html

This page has a bunch of morph programs listed, though you'd have to chase them down:

http://www.soappuppy.com/muck-info/morphing/

[2021-04-12 14:39] tanabi commented on #601
Looks like even on FM there's several morphs... search this list for the word 'morph':

http://www.furrymuck.com/getting-started/programs_list.html

[2021-04-12 20:07] TogarUshindi opened #602 "Is SSL really working?"
@wyld-sw Something I noticed.

That one muck you showed me the other day.
[code]
They all have `@` marks to show their connection is secure.

However, mine does not. It only shows a `@` for the player's own connection. The other players' connections appear as non-SSL to that player.
[code]

Perhaps a sign of faulty SSL implementation? Perhaps due to it being self-signed? Or something else perhaps?

[2021-04-12 20:16] wyld-sw commented on #602
I think the second example has a softcoded `@who` action that overrides the standard WHO action. In starterdb it is #37.

I had never noticed it, but yes, it does look like the code for that program intends to only show @ for the player issuing the command.

[2021-04-12 20:17] wyld-sw commented on #602
A case might be able to be made for showing @ for all if you're a Wizard, at least.

[2021-04-12 20:20] TogarUshindi commented on #602
A case for making it visible to other players to that it allows other players to point out it's missing, and they might want to look into securing their connection. Sort of a way of saying "Hey, your shoe's untied. Might want to lace it." It's good information! Let's both parties know they're secure.

Just a note, on the other MUCK, I'm obviously not a wiz and can still see it.

[2021-04-12 20:25] wyld-sw commented on #602
Right, since it doesn't have that version of the softcoded command. I just say that HLM has an update to remove that logic (and thus it shows for all). A future update probably will change it in the starterdb programs, but you can get ahead of it by deleting line 81 and 83 of the program.

You can also remove or rename the `@who` action.

[2021-04-12 20:28] TogarUshindi commented on #602
I typically use `WHO` actually, not `@who` :) Whowhowhowhowho

[2021-04-12 20:29] wyld-sw commented on #602
If `@who` is present, it is triggered from `WHO`.

[2021-04-12 20:29] wyld-sw commented on #602
I'm on your freenode if you'd like to chat more realtime.

[2021-04-12 20:29] #602 closed

[2021-04-12 20:29] TogarUshindi commented on #602
Which one? `wd`?

[2021-04-12 20:30] wyld-sw commented on #602
yes.

[2021-04-16 04:48] TogarUshindi opened #603 "'status' command returning error"
`status <text>` is returning the following error:
[code]

[2021-04-16 11:05] wyld-sw commented on #603
Thanks for the report. As a wizard, please try:

@bless status=/**

We’ll address this in the next update.

[2021-04-16 18:54] #603 closed

[2021-04-17 01:05] TogarUshindi opened #604 "When does fbstrings.c get used?"
When does fbstrings.c get used? Not so much an issue but a question so I can understand.

[2021-04-17 01:49] TogarUshindi commented on #604
Um.. disregard! I don't know what I was thinking. I answered my own question.

[2021-04-17 01:49] #604 closed

[2021-04-20 19:55] TogarUshindi commented on #587
Hey @conws are you around? We're in the freednode channel.

[2021-04-25 01:39] wyld-sw commented on #79
PR #605 implements sysparm ieee_bounds_handling (default yes). It should function similarly to Proto's alt_infinity_handler.

Putting $pragams inside the program object is deferred for future discussion.

Please test with things that should produce inf or nan.

[2021-04-25 02:09] #601 closed

[2021-05-01 13:05] wyld-sw commented on #566
I think this makes a lot of sense (was @tanabi's idea). I'm trying to think of when someone would need to use the connection numbers directly. Sure, you could do `1 contime`, but is there a use case for something like that? Is there something (besides DESRCON) that returns a connection number?

This might be another case of introducing something new (descriptors in MUF) but wanting to still suppor

[2021-05-01 13:09] wyld-sw commented on #566
Oh ... "looping from 1 to CONCOUNT" might be a use case for the connection numbers. If that's the case, do we alias things like CONIDLE to CONDESCR DESCRIDLE, and "hide" those CON* primitives from normal use?

Hmm.

[2021-05-03 17:45] tanabi commented on #566
This DOES potentially make a complication ... on Hope Island there's only 1 program that does such a loop (cmd-3who.muf) so I think this is a lot more common with older MUFs.  It may just be a breaking change and perhaps we fix MUFs in fbmuf github.  We could make a "generator" style call (kind of like NEXT .... NEXTDESCR ? ) so that instead of doing a 1 ... CONCOUNT loop, you can loop on NEXTDESC

[2021-05-03 17:46] tanabi commented on #566
Looks like NEXTDESCR already exists :)

[2021-05-29 23:56] jcoffm opened #606 "ECDSA certificates break the server"
We found this out by accident. Somehow, an ECDSA certificate got generated for a test muck instead of RSA, and it blew the whole thing to bits.

% Trying to connect to test-world: [...]::1 4248.
% Intermediate connection to test-world failed: SSL/lib: error:14094410:SSL routines:ssl3_read_bytes:sslv3 alert handshake failure
% Trying to connect to test-world: [...] 4248.
% Connection to test-world

[2021-06-01 15:16] tanabi commented on #606
This looks potentially more like your MUCK client couldn't handle it than your MUCK server itself.  Looks like tf which means you're lucky to have even basic SSL support :)  (Not a slam against tf, mind, I use it myself and maintain my own version of it)

That said, I'm not nearly savvy enough about SSL to know the difference.  Off the top of your head, fo you have a preferred outcome for if the s

[2021-06-12 22:47] jcoffm commented on #606
I'll poke around with it and come up with a recommendation.

[2021-07-06 14:04] tanabi opened #607 "Add SMTP Support to MUCK"
I'm posting this issue for feature visibility more than anything -- I have actually already programmed this!  I just need to test it thoroughly.

For Hope Island, I wanted to make the registration workflow work like this:

* User signs up on website
* Wizards on MUCK get a notification with the registration info, user is put on queue
* Wizards approve or deny character
* Email is sent to user.

Th

[2021-07-06 14:09] tanabi commented on #607
I think it would be wise, maybe not now, but later to make a SMTP_SEND_ALL to send a message to a list of email addresses.  This would require a process fork for sure so it doesn't lock up the MUCK.  But it would allow for event notifications which is pretty cool I think.

[2021-07-06 15:08] wyld-sw commented on #607
I like it! In my mind I was stuck on a solution involving MCP for this, I think making things explicit like this is a good idea.

[2021-07-06 17:11] tanabi opened #608 "SMTP Improvements"
This ticket serves as a note to myself as to ways to improve SMTP support in the future.

* Add SMTP_SEND_ALL command that will send a message to a list of SMTP addresses.  This will require the next item...
* Fork SMTP onto its own process -- or maybe its own thread.  It would be cool if SMTP_SEND could still wait for completion.  Perhaps make SMTP_SEND and SMTP_SEND_ASYNC so that waiting is an o

[2021-07-06 17:19] tanabi opened #609 "Array Nesting Limit - SF Issue"
[code]

It would be nice if there was a limit on the depth arrays can be nested (tuneable param?) to prevent this from gobbling up tons of memory ;&gt;

This also can crash when freeing the array.  So we need to be mindful of recursive operations on deeply nested arrays and/or MUF memory limits of some kind.

[2021-07-06 17:22] tanabi opened #610 "Editplayer Crashes when Inserting at Line 0 (SF Issue)"
How to replicate:

1. Type 'editplayer' [enter]
2. Select option 2 - Description
3. Type .i 0
4. Get crash:

Programmer Error. Please tell Wizard what you typed, and the following message.
lib-editor(#16120), line 90; STRNCMP: Non-string argument.

@version
Version: Muck2.2fb6.08 Compiled on: Tue Mar 24 2009 at 19:10:22 PDT

Replicated on FurryMUCK.

Might also be caused by relative addressing:

[

[2021-07-06 17:24] tanabi opened #611 "Consolidate CI"
Potentially using Github Actions.  We are using a bunch of different builders and tools, it seems like we could probably consolidate and improve our CI/CD pipeline.

[2021-07-06 17:24] wyld-sw commented on #610
I *think* this needs to be fixed in one of the libraries (lib-edit or lib-editor), but I've forgotten which one :). The negative addressing is kind of a neat feature (but not necessary), but it definitely shouldn't crash.

[2021-07-06 17:25] wyld-sw commented on #611
+10000 for this :)

[2021-07-06 17:27] wyld-sw commented on #609
#199 also mentions array_pin - while your solution seems like it could be implemented more easily.

[2021-07-06 17:27] tanabi opened #612 "Remove MPI parsing from Pronoun Resolution (SF Issue)"
```@set me=sex:{tell:{name:me},this}```

MPI will process for certain MUCK features (pronoun resolution) but most programs would display the MPI code.  It doesn't really make sense to resolve MPI here so remove the feature.

[2021-07-06 17:29] tanabi opened #613 "@idesc not displayed in example (SF issue)"
Would it be possible to add @idesc to the list of
messages displayed in examine?

Also, the ability to display any arbitrary user specified
properties in a standard examine would be useful too...

For example, given this set of props on #0

_examine/Image:_/image
_examine/Idesc:_/ide

Examine would additionally display an 'Image: &lt;msg&gt;'
and 'Idesc: &lt;msg&gt;' when someone typed 'ex me'
ass

[2021-07-06 17:30] tanabi opened #614 "@WHO command should override login WHO too (SF issue)"
Currently creating a global "@WHO" command overrides
the "WHO" command when typed on the MUCK, but not when
typed on the welcome screen. For those of us who would
like to list players but hide information such as who
uses SSL, it'd be nice.

This would require the @WHO program to handle a #-1
"me", like for MCP programs invoked from the welcome
screen, but that's certainly acceptable.

[2021-07-06 17:31] tanabi opened #615 "Addition of property move and copy primitives (SF issue)"
It would be very useful (and not to mention make
certain types of code a lot easier, and a lot faster)
if we provided a simple property copy and move
interface as MUF primitives. It should be capable of
handling both information-carrying singletons, as well
as propdirs.

[2021-07-06 17:34] wyld-sw commented on #614
Would love to be able to call some programs from the login screen - in effect replacing tell with descr_notify.

[2021-07-06 17:35] tanabi opened #616 "Bogus Matches from Multi-Word Match String (SF Issue)"
NOTE: This happens both when using internal commands (look,
examine) and also in the MUF interpreter's "match" primitive.

The MUCK sometimes matches objects which do not contain the
match string. This happens when the match string is incomplete
(i.e. not a perfect full match) but contains a space.

For example. . . I have an object in the room with me named "p
thang". I try "ex p than" and it mat

[2021-07-06 17:38] tanabi opened #617 "muf-errors log: runtime errors (SF issue)"
Including runtime MUF errors (that is, those kept in
programs' .debug stuff) in the muf-errors log might be
nice.

[2021-07-06 17:39] tanabi opened #618 "Check return codes everywhere (SF issue)"
Some checks for return codes are missing.

Examples:
Would you like to add more error handling for return values from "malloc" in functions like "get_address" and "do_muf_topprofs"?
http://fbmuck.cvs.sourceforge.net/fbmuck/fbmuck/src/compile.c?revision=1.88&view=markup
http://fbmuck.cvs.sourceforge.net/fbmuck/fbmuck/src/wiz.c?revision=1.38&view=markup

[2021-07-06 17:42] tanabi opened #619 "$lib/mpi permits arbitrary MPI evaluation with M2"
It's possible to do something similar to the following:

[code]

Obviously the example here is relatively harmless since
it could be done with notify_exclude anyway, but more
malicious code could easily be constructed. Should M2
be able to evaluate arbitrary MPI as the current user?

[2021-07-06 17:43] wyld-sw commented on #79
I think this has been done. Feel free to re-open if not.

[2021-07-06 17:43] #79 closed

[2021-07-06 17:44] tanabi opened #620 "Allow MPI / MUF to run from the login screen"
This is actually partially implemented with MCP (Though you have to have a listener running).

[2021-07-06 17:45] tanabi opened #621 "Array Version of textattr (SF issue)"
It would be useful to be able to use textattr on an array
of paired plain text strings and attributes. For instance,
if I want to be able to display a single line of multi-
coloured text I have to use textattr each time for each
part of the string or try to use a loop.

[code]

[2021-07-06 17:46] tanabi opened #622 "Correct Location Reporting of messages in MUF for _listen (SF issue)"
Currently, if a person or object moves, generating osucc and odrop messages which are picked up by a global or environment listen, there is no way to correctly determine which room heard the osucc and which heard the odrop. We need a better way of determining locations during listen events in MUF. If I'm missing something here, someone please correct me.

[2021-07-06 17:48] tanabi opened #623 "MPI list funcs LREMOVE doesn't act on single list item {null:} (SF issue)"
List functions lcommon, lremove, etc don't act upon a
passed, given argument of null.

This means you have to pass two nulls in a list to
remove null items from a list, or a null at the
begining (but not end) of a passed list.

Null items in a passed list are just lost.
[code]
Inconsistent (and annoying).

This may turn into a feature request for an lstrip command?

This may partially work but may

[2021-07-06 17:50] tanabi opened #624 "Add floating point primitives for MPI (SF Issue)"
The title says it all!

[2021-07-06 17:52] tanabi opened #625 "MATCH behavior with exists taking args (SF issue)"
To give an example:
If you have an action named 'a' that takes arguments
and a program like this:

: main &quot;a thing&quot; match unparseobj .tell ;

It will match the action a if there is no 'a thing' object
in the vicinity...

This is an artifact of the fact the matching code is
used to match commands, but seems undesriable behavior.

I feel that we should remove this behavior from the
MATCH,

[2021-07-06 17:53] tanabi opened #626 "sscanf prim (SF issue)"
with the fmtstring prim we Fuzzball now has something like C's
sprintf. It would be nice if we had something like sscanf as well
which would do:

```sscanf[ str:text str:format -- ?1 ...?n n ]```

It would take a standard C scanf pattern and match the string. If
the string didn't match, n would be 0.

[2021-07-06 17:55] tanabi opened #627 "Dodgy HOME metalink (SF issue)"
On a muck with the 'gohome' command set (where gohome
is the usual metalink global exit to *HOME*) do the
following.
[code]
After the first look you'll see the ride_toy and gh_toy
in the room with you. After forcing the ride_toy to
gohome, you will find that the ride_toy is still in the
room with you while the gh_toy has relocated to #0. A
quick @tel later and you're sitting in #0. This will
work

[2021-07-06 17:57] tanabi opened #628 "Unsweepable Objects (SF Issue)"
This isn't a server bug, really, but a bug in the standard sweep
program.

It is possible to make a Thing object be unsweepable, due to the
parent loop checks.

Shal'Nath pages, "To make the new unsweepable object.. Just
make three objects, obj1, obj2, obj3. Make obj2 pick up obj1. Set
obj3's home to obj1. And now, here comes the tricky part. ;)
Make obj3 pick up obj2." to you.

[2021-07-06 17:58] tanabi opened #629 "MPI Processes are always on #-1? (SF Issue)"
The following commands:

[code]

will leave the process created by the look in the
timequeue. If no
other object is created, when the process comes out of
suspend,
it will abort with "garbage trigger". However, if
another object is
created and kept across the trigger-time, the code will
be executed
_as_ the original object owner but (apparently) with
the _permissions_
of the _new_ object owner. Th

[2021-07-06 18:00] tanabi opened #630 "Recycling object in force loop crashes (SF issue)"
Forcing a thing to execute an action that recycles it
in the process will crash. Fuzzball seems to try to
set an internal property on the object when it no
longer exists. GDB backtrace:

[code]

....

I've commited a temporary fix to prevent the crash, however
the true fix would be to allow muf programs to run with invalid
users...

....

The steps are:
PLAYER_SET_BLOCK(player, 0); -->
PLAYER_SP((

[2021-07-06 18:01] tanabi opened #631 "Time update causes problems (SF Issue)"
When the time on the machine is updated (via an ntp
daemon, Daylight Savings Time changes, or the admin
specifically setting it), the idletimes get COMPLETELY
out of whack, sometimes going into the completely
negative range.

For a fix, instead of relying on the absolute time of last
activity, should instead rely on a 'seconds since last
activity' counter, that should be updated whenever the
syste

[2021-07-06 18:02] tanabi opened #632 "moveto doesn't notify per action flags (SF Issue)"
moveto always notifies 'XXX has arrived.' For proper
behavior, it should check the calling action's flag
state to determine if the message is displayed or not,
as per an action-based movement without code.

....

It should be easy to do this one -- if(!FLAGS(trigger) & DARK)?

What are all the situations that cause action-based movement
without code to not echo the 'XXX has arrived.'?

...

Should

[2021-07-06 18:02] tanabi opened #633 "MUF FORCE for mlev < 4 as SCARY_MUF_PRIM (SF issue)"
I'd like to see FORCE opened up for muckers with less
than wizbits, with the following restrictions:

M1 and M2 would only be able to FORCE players and
things that the program's owner controls().
The forcelock check for these levels would be: program
dbref, current program uid.
(for M1, that means that the program dbref or the
program's owner's dbref would need to be in the
forcelock, as well as t

[2021-07-06 18:03] tanabi opened #634 "Provide support for languages other than MUF"
Python, lua, or other languages could be considered to modernize us past the clunkiness of MUF.

[2021-07-07 01:26] tanabi opened #635 "Idea: Program Blessing (SF issue)"
Instead of relying on the existence of SCARY_MUF_PRIMS
to handle access to things like PROGRAM_SETLINES and
TOADPLAYER, why not force them to only be allowed if
the program is blessed? That way, if the text is
changed in any fashion, the program can't run that set
of primitives.

TOADPLAYER should be M4+ (I'm using the plus sign to
designate blessing), but PROGRAM_SETLINES should be
M1+ (so that p

[2021-07-07 01:27] tanabi opened #636 "Queue pid not watchable immediately (SF issue)"
Taking the pid returned by the queue prim can not be
watchpid'd immeadiately, or watchpid will return a QUIT
even immeadiately. Current workaround required at
least a one second sleep between queue and watchpid.
This is.. a bug.

[2021-07-07 01:28] tanabi opened #637 "cmd-page allows wizard-owned puppets to page (SF issue)"
A Wizard-owned puppet is allowed by cmd-page to send a
page, whereas a mortal-owned puppet is not. It is
impossible to reply to the puppet, as well.

(Relayed from Genn@FurryMUCK)

[2021-07-07 01:28] wyld-sw commented on #635
For context, SCARY_MUF_PRIMS was taken out as a #define in part since users of the Winfuzz binary couldn't enable it. Program blessing is definitely an interesting idea worthy of discussion.

[2021-07-07 01:28] tanabi opened #638 "descr_setuser disconnect loop crash (SF issue)"
If you have a program that is run from a disconnect
action, that uses DESCR_SETUSER on the triggering
player, this will force an infinite loop that will
overflow the call stack. BOOM.

...

It won't crash anymore, but manages to multiply echo text to
the user now.

[2021-07-07 01:36] tanabi opened #639 "Forcing a wiz to @toadplayer (SF Issue)"
Attempting to go around the lack of toad player prim via
wizz "@toad *whomever*" force
crashes the muck.

This code crashes it:

[code]
Figured out it is actually a bug in recycling the leftover
slimy toad left behind.

...

When the command to @toad the player runs, all of that
player's programs should be removed from the timequeue,
including the one that's currently running. Thus, it should
not

[2021-07-07 01:38] tanabi opened #640 "Forward referencing in MUF (SF Issue)"
Forward referencing for function names in MUF would be
useful... (To avoid having to stuff the address of
functions into variables to call them out of order)

Also making the entry point of a program the function
named 'main' would allow for organising code in a
cleaner way... (To avoid breaking old code this could be
done via a new preprocessor directive &quot;$entrypoint
&lt;function&gt;&quot;,

[2021-07-07 01:39] tanabi opened #641 "page #standard doesn't make pages received in the standard format (SF Issue)"
When I use p #standard I get this output:

Pages now received in the standard form '%n pages: %m'

This sets the expectation that pages will be received in that format going forward.

However, when the player Jayren pages me, his pages are in this format:

At 10:23am, someone picks up a phone at bridge and calls you. it is Jayren, he just called to say, "[%m]"

[2021-07-07 01:42] tanabi opened #642 "Use C++ Where Helpful"
We would like to sprinkle in C++ where it is helpful to use.  Strings, for instance and other stuff like differnet b-trees would benefit from using C++.

We do not intend to go overboard here though.

[2021-07-07 01:44] tanabi opened #643 "Cleanup TODO's"
Locate all TODO's in code and clean them or make issues.

[2021-07-07 01:46] #308 closed

[2021-07-07 11:31] rec commented on #639
Just a note that every time you use a symbol like @rec (that's me) in an
issue, you generate an email to that github account, so you sent four
people email with that last one!  :-D

(I'm used to this, and I consider it a bug in github, so don't lose any
sleep over it.)

On Wed, Jul 7, 2021 at 3:36 AM tanabi ***@***.***> wrote:

--
     /t

PGP Key: ***@***.***
*https://tom.ritchford.com <https://t

[2021-07-07 11:52] wyld-sw commented on #639
Once I found this out, I started trying to enclose those commands in backticks, like `@who`. I think this suppresses the notification... I don't always remember though!

[2021-07-07 14:27] tanabi commented on #639
Sorry about that!  I was copying a ton of issues over from an old SF project and unfortunately our system's commands feature the @ symbol all over the place.  I probably should have escaped the whole thing in backticks.

[2021-07-07 18:06] digitalcircuit commented on #611
I'd be in favor of this.

For what it's worth, [GitHub Actions is the direction Quassel IRC went](https://github.com/quassel/quassel/pull/534 ) (where I got my initial inspiration for the Travis CI and AppVeyor contributions to Fuzzball).  There aren't many good options for free macOS builds.

There is one unfortunate caveat with GitHub Actions: you [can't download the build artifacts (e.g. Window

[2021-07-08 00:52] wyld-sw commented on #566
#645 maps CON* in-server defines to DESCR* counterparts. Please review.

This will break existing MUF code that relies on concount loops, but the fix for that situation is straightforward (see change to starterdb's 85.m). At the very least we'll need a communication plan ( and possibly links to updated program(s) )before this goes live.

[2021-07-09 00:26] #607 closed

[2021-07-17 01:54] skylerbunny commented on #590
I'm pretty sure I have a workable fix to this, using a multistage Dockerfile, as I proved it out building and running on OS X. Other things the branch I have could potentially do, in addition, is:

- make fbmuck run directly under tinit, so the container respects fbmuck's kill signals natively
- put in an option to use SIGUSR2 instead of the default SIGKILL in the docker build configs
- improved d

[2021-07-17 02:24] tanabi commented on #590
@skylerbunny I'd love to see your branch.  Mine does do a few things that I'm not sure yours does -- it auto sets up a fresh MUCK if data files don't exist and it can auto-generate a self-signed cert again if it doesn't already exist.  But, regardless, I could probably merge my stuff into yours (assuming you haven't already covered these cases).  I'm not the best docker guy so I'd bet however you'

[2021-07-17 02:35] skylerbunny commented on #590
I think I need permission to push a branch; I don't think I have it. I attempted earlier and got the equivalent of a 'permission denied'.

[2021-07-17 02:38] tanabi commented on #590
@skylerbunny You can do a fork, push the branch up there, and then do a pull request so I can dig into it.  Or @wyld-sw can give you perms to push up a branch temporarily ... we usually work off our own forks and do PR's though, but I don't want to put you through too much trouble.  The contribution is extremely helpful!

[2021-07-17 02:38] skylerbunny commented on #590
Oh, right, I forgot it works that way. I'll do the fork on my own and toss up a PR. Thanks!

[2021-07-17 02:39] tanabi commented on #590
@skylerbunny I'll be looking out for it then :)  Thanks again.

[2021-07-17 13:21] #590 closed

[2021-07-21 02:56] tanabi commented on #566
@wyld-sw I have reviewed your PR in detail ... I want to do a little more testing, but, I'm pretty sure the use case of concount to iterate over all users is fairly slim.  Some MUCKs may have custom WHO's that may have gotchyas, but I think we'll be okay in the majority case.

We may want to advise the SPR and Spin Dizzy folks to basically 'grep' their MUF directory for CONCOUNT and be ready to fi

[2021-07-21 02:58] wyld-sw commented on #566
Agreed. Thanks for being thorough.

[2021-07-25 16:34] tanabi commented on #566
@wyld-sw I haven't fogotten about this, I will try to finish my testing today :)  @skylerbunny @jcoffm this one might impact your MUCKs.

[2021-07-26 02:15] tanabi opened #652 "Fix Docker Issues"
As reported on my PR by @skylerbunny - see https://github.com/fuzzball-muck/fuzzball/pull/650 for original notes.

I think figured out why the addition of your lines to build the help files confused me as 'Why is that necessary?' In part I didn't realize that the help files are built from .raw files at build time. Now that I understand that...

First, an easy error to fix, and the Makefile does th

[2021-08-05 15:23] tanabi opened #654 "MUCK sudo command"
I had a thought that it might be useful to have a sudo command such as:

[code]

This would basically let one user `@force` another user assuming they have that user's password, and would enable people to remote control their wizard characters (or their alts) for one off tasks easily.  It would use most of the same code as `@force` under the hood, it would just alter the permission intake.

Some q

[2021-08-08 18:46] tanabi commented on #565
I believe this is expected behavior as I discovered during refactor.  This prim is used by 3who for example to iterate over descriptors.  If we want to be able to capture users on the welcome screen, we should make a separate primitive set for it (since firstdesc / lastdescr obey the same connected-only rule).  Since there's no demand for this or immediate use for that matter that I can see ... I'

[2021-08-08 19:09] wyld-sw commented on #565
Gotcha, and agreed. I found this “discrepancy” during a refactor; only fitting it is resolved during one too :)

[2021-08-08 19:09] #565 closed

[2021-08-08 19:23] #566 closed

[2021-08-08 21:47] tanabi commented on #585
This one is kind of a pest.  I'm going to shift it to a later milestone and shelf it for a bit, as I would like to get 7.1 out and I think this is just slowing it down for an issue nobody's really clamoring for (and can be solved in MUF).  I have this work on a separate branch of my code for when I get back to it.

[2021-08-08 21:52] tanabi commented on #518
Let's use XML with a style sheet.

https://www.geeksforgeeks.org/displaying-xml-using-css/
https://webplatform.github.io/docs/tutorials/styling_xml_with_css/

This way, we have our docs in a nice easy to load structured format (Though we will need either an XML lib or to write a basic XML parser -- for our purposes, we could probably just alter the existing man/mpi parser to look for XML tags inst

[2021-08-08 21:54] tanabi commented on #538
The external links has a link to the correct website, and sourceforge references the correct new repo, so I'm going to consider this done enough to close.

[2021-08-08 21:54] #538 closed

[2021-08-08 22:03] tanabi commented on #597
I switched this to self-signed and checked to see how often it is used.  Answer: not often (though people do sometimes show up ... maybe once every 3 or 4 months :D )  I will consider the amount of effort I put into this sufficient and move on to the next thing.  I think we should change this down the road to use docker in which case we can set up LetsEncrypt, but I don't have a docker host prepar

[2021-08-08 22:03] #597 closed

[2021-08-08 23:00] wyld-sw commented on #518
Works for me!

[2021-08-30 14:39] astarafar opened #656 "Small Request: "DONE" message after @dump"
Currently, `@dump` will tell me `Dumping...` but never inform when database save is finished.

[2021-08-30 16:02] tanabi commented on #656
Well, it relies on the `@dump` messages configured in your tune settings.  On hope island:

[code]
I think hope is using inline dump, so this behavior might be different in the case of a forked dump (i.e. a dump that doesn't pause the MUCK while it is running).  So are your dumps working like Hope and your messages are not sufficient so you want an additional "Done"?  Or are you using an sync dump

[2021-09-21 22:26] Loonesbury commented on #566
I'm a bit late, but I didn't pull a fresh copy of FB7 until recently.

I understand wanting to remove seemingly-unnecessary code, but I will point out that players can be connected more than once; simply changing CON to DESCR doesn't get you the same behavior. This also makes it rather annoying to get a list of online players without duplicates.

I understand that's a relatively rare use case, but

[2021-09-22 13:43] tanabi opened #658 "Appveyer Build Failure for Windows"
Appveyer is complaining about OpenSSL.  First noticed with this PR:

https://github.com/fuzzball-muck/fuzzball/pull/657

However the PR had nothing to do with SSL so I believe it is unrelated.

Build failure:

https://ci.appveyor.com/project/fuzzball-muck/fuzzball/builds/40860891

[2021-10-13 02:31] #658 closed

[2021-12-20 16:06] Kjesris opened #662 "Add allowing registration on login screen by @tune"
Still can't really figure it out :P
i just rather use create on the login screen (on my own muck) instead of having to @pcreate every single user

[2021-12-20 22:44] tanabi commented on #662
@Kjesris as a wizard character, type:

`@tune registration=no`

and I think that's all you have to do to enable 'create' on the login screen.

[2021-12-28 13:20] Kjesris commented on #662
That's hella... unintuitive.

[2021-12-28 13:20] #662 closed

[2022-01-26 20:07] aidanPB commented on #633
Since the removal of ``SCARY_MUF_PRIMS``, this would presumably be controlled/enabled by a GOD-only tuneparam.

[2022-01-26 20:12] wyld-sw commented on #633
Yeah, the name of the issue was copied from source forge, where it originated.

[2022-01-26 22:08] aidanPB commented on #634
If MUF were more like Standard Forth (with the ability to define source-parsing words and so on), you could theoretically define other (non-statically typed) languages _as MUF libraries_, and declare the language to use just by ``$include``ing the right one. (This also requires a library's functions to be available directly at compile time, not just through ``libref funcname CALL``.)

However, eve

[2022-01-27 00:33] aidanPB commented on #622
Is there a reason this is labelled "bug" rather than "enhancement"? It reads like a request for new behaviour, rather than a security issue or something otherwise strictly "incorrect".

Something related that I _would_ consider a bug, if exceedingly minor: the MUF manual describes how connect and disconnect propqueues set the system variables. (Relevant to this issue, ``loc @`` is the location of

[2022-01-27 01:02] tanabi commented on #622
It used to be Fuzzball had a bunch of old issues on SourceForge, so I brought them over en masse.  I think I just picked the same issue type as was used on SourceForce without doing a judgement call -- when you're doing bulk, manual labor like that, you just kinda go with the flow :)

I don't know the initial inspiration for this issue (it wasn't me, I wasn't working on this project back in the So

[2022-01-28 05:22] aidanPB commented on #622
The more I dig through the code, the more I feel like listener (as distinct from other propqueue) handling needs a massive overhaul. It looks like the only MUF prims to obey ``tp_allow_listeners_env`` are ``OTELL`` and ``NOTIFY_EXCLUDE``. Every other program-generated message just never leaves the room where it happened.

It actually looks like exit odrops are the odd messages out; for every other

[2022-01-28 15:06] tanabi commented on #622
You're right about listen being kind of a mess.  I thought about devil's advocating for odrop having loc be the destination room, because there are times where having individual listeners in each accessible room is not a good solution, and relying on a separate prop queue altogether requires a level of interprocess communication MUF may or may not be able to do based on the individual situation.

[2022-01-28 15:06] #622 closed

[2022-01-28 18:52] aidanPB commented on #622
I don't see how using the same prop queue _avoids_ IPC, given that every trigger is queued as its own process. Non-listen prop queues do have the very real limitation that they don't have access to _messages_ related to their triggers, but I belatedly realised that while the odrop message is sent (and listen triggered) before the move takes place, the program doesn't get any chance to run until af

[2022-01-28 20:31] tanabi commented on #622
Re. IPC.  If the goal is to do something with the odrop message that involves the source and destination rooms, you could handle that in the listen handler without having to hybridize with the arrive queue which would avoid IPC ... however the more I talk about this, the more edge-case-y and dumb it sounds, so I'm gunno drop it :)

To my mind, it sounds like you have solved the original issue brou

[2022-01-29 06:32] aidanPB opened #664 "Review and Document Listener Behaviour"
The triggering of listener propqueues is currently a bit of a mess. The low-level call that actually puts a listen event on the timequeue is `listenqueue` in timequeue.c. That's used in the various notify functions in interface.c, which are in turn used all over the place. There are a few issues with them:
1. `notify_listeners` and `notify_from_echo` are simultaneously too similar (going by doc co

[2022-07-23 11:22] astarafar commented on #656
I was incredibly vague when I originally opened this issue. The messages in `@tune` get sent to **everyone**. What I would like is a "dump complete" confirmation to be sent to the invoker of `@dump`, but no one else.

[2022-07-23 14:59] tanabi commented on #656
Gotchya.  That is weirdly complicated because, as I recall, once `@dump` forks, it loses all sense of who made the initial call.  That said, we should be able to carry a triggering person ref along for the ride, so I'll see what we can do here.

[2022-07-23 15:57] tanabi commented on #656
In researching this, I have learned there's a MUF event called 'DUMP' that is triggered when a dump is complete.  I don't know if that is interesting or not.  It appears to be the only time something like this is done in the codebase that I can easily tell.  Of course, this event won't tell you who triggered the dump.

How dump notifications work is really sketchy.  We fork the dump process then c

[2022-07-23 17:24] tanabi commented on #656
@astarafar This should do it for me, let me know if you have any problems.

[2022-07-23 17:24] #656 closed

[2022-08-10 14:27] tanabi opened #667 "{contents} MPI function does not behave as documented / nonsense exits behavior"
According to the documentation, the `{contents}` MPI call supports exits.  For instance, you can do:

`{contents:here,exit}` and it will work.

However, this will always return nothing because exits aren't contents.  They have their own linked list that `{contents}` doesn't check.

The solution here is to update the documentation to indicate that exits should be checked with the `{exits}` macro an

[2022-08-10 19:04] tanabi commented on #634
https://pypi.org/project/RestrictedPython/

We can look at this if we want to use Python.

[2022-08-10 19:12] wyld-sw commented on #634
Seems worth exploring.